/* Convert to less for some of those 5px vars, then compile it together with bootstrap.css into a single css file */

/* lazy loaded images on the results pages */
.lazy-narrow {
  display: none;
}
.lazy-wide {
  display: none;
}

/* username in upper right corner */
.user-name {
	max-width: 120px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
/* notifications */
.alert-message {
	margin-top: 20px;
}

/* main logo */
.topbar .brand {
	padding: 4px 10px 0px 0px;
	margin-left: 0px;
}

#cover-box {
	display: block;
	position: relative;
	height: 315px;
	width: 850px;
	overflow: hidden;
	margin-left:auto;
	margin-right:auto;
}
#cover-box.#cover {
	position:absolute;
	width:100%;
}

/* all select boxes should autosize */
select {
	width: auto;
}

html, body {
	background-color: #FFFFFF;
}
body {
	padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer {
	background-color: #fff;
	text-align: center; /* center align it with the container */
}

.top-to-bottom-fade {
	border-width: 1px;
	border-style: solid;
	-webkit-border-image: 
		-webkit-gradient(linear, 0 0, 0 100%, from(lightgrey), to(rgba(0, 0, 0, 0))) 1 100%;
	-webkit-border-image: 
		-webkit-linear-gradient(lightgrey, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image:
		-moz-linear-gradient(lightgrey, rgba(0, 0, 0, 0)) 1 100%;    
	-o-border-image:
		-o-linear-gradient(lightgrey, rgba(0, 0, 0, 0)) 1 100%;
	border-image:
		linear-gradi	ent(to bottom, lightgrey, rgba(0, 0, 0, 0)) 1 100%;
}

.tabs-after {
	margin-top: -18px;
	padding-bottom: 100px;
	margin-bottom: -100px;
}

/* each floating white box on the homepage */
.sub-content {
	background-color: #fff;
	margin-top: 5px; /* @gridGutterWidth = 5px */
}
.sub-content .box {
	padding: 5px;
}

.events-list {
	margin: 0px;
	padding: 0px;
	list-style-type:none
}
.event-image {
	float: left;
	border: 1px solid #ccc;
	width: 180px;
	margin-right: 10px;
}
.event-image img {
	margin-bottom: -2px;
}
.event-description {
	float: left;
	width: 200px;
}
.event-title {
	color: #000000;
	font-size: 120%;
	font-weight: bold; /* inherited from H3 anyway */
	margin: 0px;
}
.event-date {
	color: #000000;
	padding-top: 10px;
}

table.rankings td {
	padding: 5px;
}

#search-form span.glass {
	display: block;
	position: absolute;
	cursor: pointer;
	display: block;
	right: 0;
	padding: 4px 33px 0px 0px;
}
#search-form span.glass i {
	background-image: url(/images/search-icon.png);
	width: 14px;
	height: 14px;
	display: block;
	font-size: 0;
}

#location_form {
	width: 170px;
}

.ranking-title {
	font-weight: bold;
}

#upcoming_events {
	float: left;
}

/* for ongoing events*/
h3.event-title {
	line-height: 1.3;
}
.event-image {
	line-height: 1;
}


.narrow-event {
	padding-bottom: 5px;
	border-bottom: 1px solid lightgrey;
	margin-bottom: 5px;
}

.wide-event {
        padding-bottom: 10px;
}

.topbar div > ul span, .nav span {
	display: block;
	float: none;
	padding: 10px 10px 11px;
	line-height: 19px;
	text-decoration: none;
}

.fb_button-nav {
	padding: 10px 10px 0px;
	width: 200px;
	text-align: right;
}

.permission-reason {
	display:block;
	padding-left: 40px;
}

.big-font {
	font-size: 200%;
}

.bad-matched-text {
	background-color: pink;
}
.matched-text {
	background-color: yellow;
}

