
# Because the published version has a bug with media uploads:
git+https://github.com/sixohsix/twitter

atomicwrites==1.1.5

# Date Manip
icalendar==3.11
# Included in docker gae-modules:
# dateparser
# timezonefinder

iso3166==0.7
oauth2==1.9.0.post1
twilio==5.6.0
python-gcm==0.4
python-gflags==3.1.0
Jinja2==2.8
humanize==0.5.1
htmlmin==0.1.11

urllib3==1.21.1
requests-toolbelt==0.7.0

# WebApps
webapp2==2.5.2
Flask==0.11.1
Flask-Admin==1.4.2
WTForms==2.1
# Because the published version doesn't work with JsonProperty:
# https://github.com/wtforms/wtforms-appengine/commit/841b76c15a2658c73c7e705fb810fe7c224b104b
git+https://github.com/wtforms/wtforms-appengine

# Relay / GraphQL
Flask-GraphQL==1.3.1
graphene==1.1.2

# For /event/222/title-is-here URLs
slugify==0.0.1

# In case we want to parse rss/atom feeds
feedparser==5.2.1

# Google
# This git repo has https://github.com/GoogleCloudPlatform/appengine-mapreduce/pull/111
git+https://github.com/mikelambert/appengine-mapreduce#egg=GoogleAppEngineMapReduce&subdirectory=python/src
GoogleAppEnginePipeline==1.9.22.1
GoogleAppEngineCloudStorageClient==1.9.22.1
gdata==2.0.18

python-firebase-gae==1.0.1

Markdown==2.6.7

python-resize-image==1.1.11

# ScrapingHub API
scrapinghub==1.9.0
scrapy==2.6.2
scrapyjs==0.2
html2text==2016.9.19

pyyaml==3.12

pycountry==17.1.8

IPy==0.83

mailchimp3==2.0.11
mandrill==1.0.57

# For debugging memory leaks
objgraph==3.1.0

# For trimming event names...
icemac.truncatetext==1.0.post1
