{
  'parser': 'babel-eslint',

  'extends': [
    'airbnb',
    'plugin:flowtype/recommended',
    'prettier',
    'prettier/flowtype',
    'prettier/react',
  ],

  'plugins': [
    'flowtype',
    'prettier',
  ],

  'rules': {
    'prettier/prettier': ["error", {'trailingComma': 'es5', 'singleQuote': true}],

    // A few overrides for what I prefer in this project (and legacy code)
    'comma-dangle': [2, 'always-multiline'],
    'no-console': 0,
    'react/no-multi-comp': 0, // We'd have too many files
    'no-use-before-define': 0, // Someties can lead to more intuitive flow/layout
    'no-unused-vars': [2, { "vars": "all", "args": "none", "ignoreRestSiblings": true }], // Sometimes unused vars represent documentation of arguments
    'no-else-return': 0, // Sometimes it's much clearer to understand alternation logical flow with 'else's
    'react/prefer-stateless-function': 0, // TODO: We should revisit this one...
    'class-methods-use-this': 0, // Shouldn't have to do major rewrites just because of not using 'this'
    'import/prefer-default-export': 0, // Sometimes we import only one item, in anticipation of making it easy to import future items
    'react/jsx-filename-extension': [1, { 'extensions': ['.js', '.jsx'] }], // React Native uses Components in js files all the time
    'no-underscore-dangle': 0, // There's enough code I've written and uses this, it's not worth warning on    
    'no-duplicate-imports': 0, // This breaks when we 'import' and 'import type' on the same module
    'generator-star-spacing': 0, // This breaks on async/await
    'no-mixed-operators': 0, // Order of operations isn't that hard to internalize, and lisp toenails get extremely busy

    'function-paren-newline': 0,

    'no-return-await': 0, // I like returning await from async functions for clarity purplses
    // Also: https://stackoverflow.com/a/42750371/1125823

    'prefer-destructuring': ['error', {
      VariableDeclarator: {
        array: false,
        object: true,
      },
      AssignmentExpression: {
        array: false,
        object: false,
      },
    }, {
      enforceForRenamedProperties: false,
    }],

    // TODO: Remove this once https://github.com/airbnb/javascript/pull/1204 is merged and released to NPM
    'import/no-extraneous-dependencies': ['error', {
      devDependencies: [
        'test/**', // tape, common npm pattern
        'tests/**', // also common npm pattern
        'spec/**', // mocha, rspec-like pattern
        '**/__tests__/**', // jest pattern
        'test.js', // repos with a single test file
        'test-*.js', // repos with multiple top-level test files
        '**/*.test.js', // tests where the extension denotes that it is a test
        '**/webpack.config.js', // webpack config
        '**/webpack.config.*.js', // webpack config
        '**/rollup.config.js', // rollup config
        '**/gulpfile.js', // gulp config
        '**/gulpfile.babel.js', // gulp config
        '**/Gruntfile', // grunt config
       ],
       optionalDependencies: false,
    }],

    // Up our length limit to 150
    'max-len': ['error', 150, 2, {
      ignoreUrls: true,
      ignoreComments: false,
      ignoreRegExpLiterals: true,
      ignoreStrings: true,
      ignoreTemplateLiterals: true,
    }],

    // Allow ForOfStatement
    'no-restricted-syntax': [
      'error',
      'ForInStatement',
      'LabeledStatement',
      'WithStatement',
    ],

    'react/sort-comp': ['error', {
      order: [
        'static-methods',
        '/^props$/',
        '/^state$/',
        '/^_.+$/',
        'lifecycle',
        '/^on.+$/',
        '/^(get|set)(?!(InitialState$|DefaultProps$|ChildContext$)).+$/',
        'everything-else',
        '/^render.+$/',
        'render'
      ],
    }],
  }
}