{
  'extends': [
    'plugin:import/react-native'
  ],
  'globals': {
    '__BUNDLE_START_TIME__': false,
    '__DEV__': true,
    '__dirname': false,
    '__filename': false,
    '__fbBatchedBridgeConfig': false,
    'navigator': false,
    'Promise': false,
  },
  'rules': {
    'global-require': 0,
  }
}
