$card-background-color: white;

@mixin card-before-base {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  bottom: -1px;
  top: -1px;
  left: -1px;
  right: -1px;
  content: '';
  position: absolute;
  pointer-events: none; // avoid capturing mouse events
}

.card::before {
  @include card-before-base;
}

.card {
  border: 1px solid;
  border-color: transparent;
  border-radius: 3px;
  background-color: $card-background-color;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.card-header {
  padding: 12px 12px 10px;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.card-contents {
  padding: 10px;
}

.card-header-text {
  line-height: 25px;
  font-weight: bold;
}

.card-background {
  background-color: $card-background-color;
}

.new-card {
  @extend .card;
  padding: 0px;
}

.new-card::before {
  @include card-before-base;
}

.red-card {
  @extend .card;
  padding: 0px;
  background-color: #ff7777;
}

.red-card::before {
  @include card-before-base;
  border-color: #fcc #faa #f55;
}
