/*
  '#FFF3B0',
  '#FFEA73',
  '#FFD802',
  '#FFCA01',
  '#C0A000',
*/
$yellow-medium: #FFD802;
$yellow-lighter: #FFEA73;
$yellow-lightest: #FFF3B0;
$deetsYellowColor: $yellow-medium;

$purple-darkest: #171728;
$purple-dark: #222238;
$purple-medium: #333452;
$purple-light: #4C4D81;
$purple-lighter: #656595;
$purple-lightest: #8283A9;

$blue-link: #365899;

$brand-primary: $purple-lighter;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

$text-color: black;
$body-bg: #e9ebee;

$text-on-white-background: #90949c;
$text-on-grey-background: #333;

$state-info-text: #000;
$state-info-bg: $yellow-lightest;
$state-info-border: darken(adjust-hue($state-info-bg, -10), 7%);

//TODO: Fix the form colors
$btn-default-color: white;
$btn-default-bg: $brand-primary;
$btn-default-border: lighten($brand-primary, 10%);
$btn-primary-border: lighten($brand-primary, 10%);

$input-bg: white;
$input-bg-disabled: darken(white, 30%);

$hr-border: $purple-lightest;

$flyer-border-color: $purple-lightest;

$nav-link-hover-bg: $body-bg;

$nav-disabled-link-color: $yellow-lightest;
$nav-disabled-link-hover-color: $yellow-lightest;

$nav-tabs-border-color: $text-on-grey-background;

$nav-tabs-link-hover-border-color: $text-on-grey-background;

$nav-tabs-active-link-hover-bg: $body-bg;
$nav-tabs-active-link-hover-color: $text-on-grey-background;
$nav-tabs-active-link-hover-border-color: $text-on-grey-background;

$nav-tabs-justified-link-border-color: $text-on-grey-background;
$nav-tabs-justified-active-link-border-color: $body-bg;

$header-menu-hover-color: $deetsYellowColor;
$header-background-color: $purple-light;

$footer-color: white;
$footer-border-color: $purple-medium;
$footer-text-color: black;
$footer-accent-color: $purple-medium;

$headline-underline-main-color: $yellow-medium;
$headline-underline-secondary-color: $purple-medium;

$event-info-icon-color: white;
$panel-default-text: white;
$panel-default-border: $blue-link;

$link-color: $blue-link;
$link-hover-color: lighten($link-color, 10%);
