@import 'config.scss';

$react-dates-color-primary: #4C4D81;
$react-dates-color-secondary: #4C4D81;
$react-dates-color-focus: #C0C0E8;
$react-dates-color-text-focus: black;
$react-dates-color-primary-shade-1: #9090D0;
$react-dates-color-primary-shade-2: #C0C0E8;
$react-dates-color-primary-shade-3: #9090D0;
$react-dates-color-primary-shade-4: #C0C0E8;
$react-dates-color-border: transparent;
@import '~react-dates/css/variables.scss';
@import '~react-dates/css/styles.scss';

body {
  font-weight: 'lighter';
}

.fullscreen-static-image {
  height: 100vh;
}
.fullscreen-darken-image {
  background: rgba(41, 35, 0, 0.5);
  width: 100%;
  height: 100%;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.body-contents {
  margin-top: 30px;
}

.flush-top {
  margin-top: -30px;
}

.event-info-icon {
  color: $event-info-icon-color;
}

.event-flyer {
  position: relative;
  width: 100%;
  height: auto;
}

.grey-top-border {
  position: relative;
}
.grey-top-border::before {
  position: absolute;
  border-top: 1px solid $grey-background;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  content: '';
}

.product-social-links {
  padding-bottom: 0 1em;
  height: 20px;
  line-height: 10px;
}

.margin-bottom-5,
.margin-bottom-10,
.margin-bottom-15,
.margin-bottom-20,
.margin-bottom-25,
.margin-bottom-30,
.margin-bottom-35,
.margin-bottom-40,
.margin-bottom-45,
.margin-bottom-50,
.margin-bottom-55,
.margin-bottom-60,
.margin-bottom-100 {
  clear: both;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-35 {
  margin-bottom: 35px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}
.margin-bottom-45 {
  margin-bottom: 45px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-55 {
  margin-bottom: 55px;
}
.margin-bottom-60 {
  margin-bottom: 60px;
}
.margin-bottom-100 {
  margin-bottom: 100px;
}

.color-light {
  color: #ffffff;
}
.bg-color-darker {
  background-color: #222 !important;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.content-md {
  padding-top: 80px;
  padding-bottom: 80px;
}

h1 {
  font-size: 28px;
  line-height: 35px;
}
h2 {
  font-size: 24px;
  line-height: 33px;
}
h3 {
  font-size: 20px;
  line-height: 27px;
}
h4 {
  line-height: 25px;
}
h5 {
  line-height: 20px;
}
h6 {
  line-height: 18px;
}

.headline {
  margin: 10px 0 25px 0;
  border-bottom: 1px solid $headline-underline-secondary-color;
}

.headline h2 {
  font-size: 22px;
  //color: #585f69;
}

.headline h2, .headline h3, .headline h4, .headline .headline-underline {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 2px solid $headline-underline-main-color;
}

// Gradient Buttons
.btn-default {
  background-image: linear-gradient(180deg, $purple-lighter, $purple-medium);

  &:focus, &.focus {
    background-image: linear-gradient(180deg, $purple-lighter, $purple-medium);
    &:active, &.active {
      border-color: $yellow-lightest;
    }
  }
  &.hover {
    background-image: linear-gradient(180deg, $purple-lighter, $purple-medium);
  }

  &:active, &.active {
    background-image: linear-gradient(180deg, $purple-medium, $purple-lighter);
    border-color: $yellow-lightest;

    &:hover, &.hover {
      border-color: $yellow-lightest;
    }
  }
}
.btn-no-focus {
  outline: 0 !important;
}

.btn-primary {
  background-image: linear-gradient(180deg, $purple-lighter, $purple-medium);

  &:focus, &.focus {
    background-image: linear-gradient(180deg, $purple-lighter, $purple-medium);
  }

  &:active, &.active {
    background-image: linear-gradient(180deg, $purple-medium, $purple-lighter);
    border-color: $yellow-lightest;
  }
}

//FullCalendar buttons
.fc-state-default {
  background-color: $brand-primary;
  color: white;
  background-image: linear-gradient(
    180deg,
    $brand-primary,
    lighten($brand-primary, 10%)
  );
}
.fc-state-hover {
  background-color: lighten($brand-primary, 10%);
}
.fc-state-active {
  background-color: darken($brand-primary, 10%);
}

.no-border {
  border: 0;
}

.opaque {
  // We set a background color so that the overlapping sticky headers are opaque
  background-color: $body-bg;
}

.inline-block {
  display: inline-block;
}

// Pulled from the event.jsx page
.card::before {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
  bottom: -1px;
  top: -1px;
  left: -1px;
  right: -1px;
  content: '';
  position: absolute;
  pointer-events: none; // avoid capturing mouse events
}

.card {
  border: 1px solid;
  border-color: transparent;
  border-radius: 3px;
  background-color: white;
  padding: 10px;
  margin: 10px;
  position: relative;
}

.card-header {
  padding: 12px 12px 10px;
  display: flex;
  flex-direction: horizontal;
  justify-content: space-between;
}

.card-contents {
  padding: 10px;
}

.card-header-text {
  line-height: 25px;
  font-weight: bold;
}

.new-card {
  @extend .card;
  padding: 0px;
}

.new-card::before {
  @extend .new-card::before;
}

.image-prefix {
  padding-left: 5px;
  display: inline-block;
}

.image-prefix-icon {
  padding-right: 5px;
  width: 1.5em;
  display: table-cell;
  text-align: center;
}

.image-prefix-dancer {
  width: 1.5em;
}

.image-prefix-contents {
  display: table-cell;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.google-translate {
  height: 25px;
}

button.link-button, button.link-button:focus, button.link-button:active {
  /* Remove all decorations to look like normal text */
  background: none;
  border: none;
  display: inline;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
  outline-offset: 0;
  /* Additional styles to look like a link */
  color: $blue-link;
  cursor: pointer;
  text-decoration: underline;
}
/* Remove extra space inside buttons in Firefox */
button.link-button::-moz-focus-inner {
  border: none;
  padding: 0;
}

.fade-out-body {
  position: 'relative';
}

.fade-out-body:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 100%, .2);
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 0, $body-bg);
  height: 100px;
}

/** We want to see the whole city and title, so let's ensure we override 'white-space: nowrap'.
  * This is discussed in more detail here, which is when 2.1 introduced table-based event layout:
  * https://code.google.com/p/fullcalendar/issues/detail?id=1992
  **/
.fc-day-grid-event > .fc-content {
  white-space: normal !important;
}
.fc-event, .fc-event-dot {
  background-color: $purple-lighter !important;
}
.fc-event {
  border: 1px solid $purple-lightest !important;
}

// Top Search Field
$top-search-placeholder-color: #484848;

.top-search::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $top-search-placeholder-color;
}
.top-search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $top-search-placeholder-color;
  opacity: 1;
}
.top-search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $top-search-placeholder-color;
  opacity: 1;
}
.top-search:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $top-search-placeholder-color;
}
.top-search::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $top-search-placeholder-color;
}

.top-search:focus {
  outline-width: 0;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
