.event-page-header {
  paddingLeft: 10px;
  paddingRight: 10px;
}

.event-page-image-box {
  margin: 10px;
}

.past-event-box {
  margin: 10px;
}
.past-event-warning {
  background-color: #ff7777;
  padding: 10px;
}
