@import '~jquery.smartbanner/jquery.smartbanner';
// Does not work :(
// $base-dir: '~';
$base-dir: '../../node_modules/';
$fa-font-path: $base-dir + 'font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';
@import 'bootstrap-custom.scss';

// media queries to complement our React JS
@import 'tutorials.scss';
@import 'resultsSearchBox.scss';
@import 'results.scss';

@import 'fonts.scss';
@import 'dancedeets.scss';
@import 'tabs.scss';
@import 'eventPage.scss';
@import 'social-hovers.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'custom.scss';
@import 'dancedeets-old.scss';
@import 'card.scss';

$slick-font-path: $base-dir + 'slick-carousel/slick/fonts/';
$slick-loader-path: $base-dir + 'slick-carousel/slick/';
$slick-arrow-color: black;
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';
@import 'slick.scss';

@import 'rc-collapse.scss';
@import '~react-spinkit/css/circle';
