@import 'config.scss';

// Ensure our logo is 100% of the menu height, without any padding
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;

  .dancedeets-logo {
    height: 100%;
  }
}

.navbar-inverse {
  // No white border on the bottom of our inverse menu
  border: 0;
}

.nav {
  // Ensure all our direct top-links are uppercased
  > li > a {
    text-transform: uppercase;
  }

  // We want our dropdown menus to have the same color scheme
  .dropdown-menu {
    background-color: $navbar-inverse-bg;
    // This is a nice carryover from the old theme we used
    border-top: 2px solid $deetsYellowColor;

    > li > a {
      color: $navbar-inverse-link-color;

      &:hover, &:focus {
        color: $deetsYellowColor;
        background-color: transparent;
      }
    }
    > .active > a {
      &, &:hover, &:focus {
        color: $deetsYellowColor;
      }
    }
  }
}

@media (max-width: $grid-float-breakpoint-max) {
  .dropdown-submenu > .dropdown-menu {
    margin-left: 15px !important;
    display: block;
  }
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  right: auto; //override the 0 value, to ensure it covers its contents
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: white;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: $deetsYellowColor;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
