@import 'config.scss';

.rc-collapse {
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.rc-collapse-anim-active {
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}
.rc-collapse > .rc-collapse-item {
  border-top: 1px solid $grey-background;
}
.rc-collapse > .rc-collapse-item:first-child {
  border-top: none;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header {
  height: 38px;
  line-height: 38px;
  text-indent: 16px;
  cursor: pointer;
}
.rc-collapse > .rc-collapse-item > .rc-collapse-header .arrow {
  display: inline-block;
  content: '\20';
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 5px solid $text-on-grey-background;
  vertical-align: middle;
  margin-right: 8px;
}
.rc-collapse-content {
  overflow: hidden;
  padding: 0 16px;
}
.rc-collapse-content > .rc-collapse-content-box {
  margin-top: 16px;
  margin-bottom: 16px;
}
.rc-collapse-content-inactive {
  display: none;
}
.rc-collapse-item:last-child > .rc-collapse-content {
  border-radius: 0 0 3px 3px;
}
.rc-collapse > .rc-collapse-item-active > .rc-collapse-header .arrow {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid $text-on-grey-background;
  margin-right: 5px;
}
