$NarrowWindowSize: 768px;

.media-query-search-button {
  border-radius: 0px 0px 4px 4px;
}

// Keep in sync with resultsCommon.js's NarrowWindowSize
@media (min-width: $NarrowWindowSize) {
  .media-query-search-not-focused {
    flex-grow: 1;
    flex-basis: 0;
  }
  .media-query-search-focused {
    flex-grow: 2;
    flex-basis: 0;
  }
  .media-query-search-box {
    display: flex;
  }
  .media-query-search-button {
    border-radius: 0px 4px 4px 0px;
  }
}

.DateInput {
  padding: 0 !important;
  width: auto !important;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  background-color: 'transparent';
  border: 0 !important; // Override the grey border
  width: 100%;
  padding: 3px; // 3px + DateInput__display-text' 4px == 7px padding in resultsCommon.js
}

.DateRangePicker__picker {
  // Needs to be above the navbar-static-top's z-index: 1000
  z-index: 1001 !important; // Override the z-index 1
}
