// Keep in sync with resultsCommon.js's NarrowWindowSize
$NarrowWindowSize: 768px;

// Keep in sync with resultCommon.j's SearchBoxItem.underlineWidth
$SearchBoxItem-underlineWidth: 2px;

.media-query-search-button {
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: $NarrowWindowSize) {
  .media-query-search-not-focused {
    flex-grow: 1;
    flex-basis: 0;
  }
  .media-query-search-focused {
    flex-grow: 2;
    flex-basis: 0;
  }
  .media-query-search-box {
    display: flex;
  }
  .media-query-search-button {
    border-radius: 0px 4px 4px 0px;
  }
}

.DateInput {
  padding: 0px !important;
  width: auto !important;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  background-color: transparent;
  border: 0 !important; // Override the grey border
  width: 100%;
  padding: 3px; // 3px + DateInput__display-text' 4px == 7px padding in resultsCommon.js
}

.DateRangePicker__picker {
  // Needs to be above the navbar-static-top's z-index: 1000
  z-index: 1001 !important; // Override the z-index 1
}

.search-box-date-picker {
  position: relative;
}

.search-box-date-display {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
  padding: 7px;
  background-color: transparent;
  border: 0px;
  text-align: left;
  width: 100%;
}

.search-box-date-display-wrapper-invisible {
  visibility: hidden;
  z-index: -1;
}

.search-box-date-display-wrapper-fullsize {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
}

.search-box-autocomplete-item {
  background: white;
  padding: 12px;
}
.search-box-autocomplete-item-selected {
  background: #C0C0E8;
}
.search-box-autocomplete-item-map-icon {
  padding-right: 12px;
}

.search-box-autocomplete-item-text2 {
  color: grey;
}

.search-box-autocomplete-menu {
  margin-top: $SearchBoxItem-underlineWidth;
  border-radius: 3px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  padding: 2px 0px;
  font-size: 90%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.search-box-text-input {
  border: 0px;
  text-overflow: ellipsis;
  background-color: transparent;
  padding: 7px;
  font-size: 18px;
  line-height: 24px;
  width: 100%;
  font-weight: 200;
}

.search-box-item {
  vertical-align: bottom;
  color: #484848;

  transition: border 500ms ease-out, flex-grow 300ms ease-out;

  border: 1px solid #e4e4e4;
  border-bottom-width: $SearchBoxItem-underlineWidth;
  border-bottom-style: solid;
  border-bottom-color: transparent;
}
.search-box-item-focused {
  border-bottom-color: #4C4D81;
}

.search-box-item-inner {
  display: flex;
  height: 38px;
  overflow: hidden;
}

.search-box-item-inner-focused {
  overflow: inherit;
}

.search-box-item-icon {
  vertical-align: top;
  padding-left: 7px;
  padding-top: 10px;
}

.search-box-item-contents {
  position: relative;
  flex-grow: 1;
}

.search-box-outer {
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px;
}

.search-box {
  font-size: 19px;
  line-height: 24px;
  letter-spacing: null;
  color: #484848;
  border-radius: 4px;
  border: 1px solid #DBDBDB;
  border-right: 0px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.08);
  padding: 0px;
  width: 100%;
  background-color: white;
}
.search-box-search-button {
  width: 100%;
  height: 100%;
}
