{% extends "_real_base.html" %}

{% block headbody %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/dist-{{version}}/css/main.css">

<title>{% block title %}{% endblock %}</title>

{% block head_metatags %}{% endblock %}
{% block head_stylesheet %}{% endblock %}
<script type="text/javascript">
{{
  analytics_javascript(
    {
      'old_design': false,
      'webview': true
    },
    {}
  )
}}
{% block head_javascript %}{% endblock %}
</script>
</head>
<body>
{% block body %}{% endblock %}

<script type="text/javascript">
window._trackJs = {
{% if user %}
  userId: "{{ user.fb_uid }} - {{ user.full_name }}",
{% endif %}
  token: '77a8a7079d734df7a94150f8f0d7e16f'
};
window.fbPermissions = {{ fb_permissions|tojson }};
window.fbAppId = {{ app_id|tojson }};
window.baseHostname = {{ base_hostname|tojson }};
window.prodMode = {{ prod_mode|tojson }};
window.showSmartBanner = {{ mobile_show_smartbanner|tojson }};

var google_conversion_id = 992860743;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Q-eJCImZgQIQx7S32QM";
var google_remarketing_only = false;
</script>

<script type="text/javascript" src="/dist-{{version}}/js/main.js"></script>
{% block bottom_javascript %}{% endblock %}
</body>
{% endblock %}

