<html>
<head>
{# This appears to be broken. We need all the CSS, but FullCalendar is not in Common.
 # There is some confusion about how the CSS files work now...
  <link rel="stylesheet" href="{{ static_path('common.css') }}">
#}
  <link rel="stylesheet" href="{{ static_path('calendarExec.css') }}">
</head>
<body style="background-color: white">
  <div id="react-parent">
    {{ react_html|safe }}
  </div>
  <script type="text/javascript">
    window._REACT_PROPS = {{ react_props|safe }};
    window._REACT_ID = 'react-parent';
  </script>
  {% if not hot_reloading %}
  <script defer src="{{ static_path('jquery.js') }}"></script>
  <script defer src="{{ static_path('common.js') }}"></script>
  {% endif %}
  <script defer src="{{ static_path('calendarExec.js') }}"></script>
</body>
</html>
