{% extends class_base_template %}

{% block head_metatags %}
<meta name="twitter:site" content="@dancedeets" />
<meta name="twitter:creator" content="@dancedeets" />
<meta name="twitter:title" content="{{ displayable_event.name|e }}" />
{% if displayable_event.description %}
  <meta name="twitter:description" content="{{ displayable_event.description|truncate(250)|e }}">
{% endif %}
{% if displayable_event.has_image %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:src" content="http://{{ full_hostname }}/events/image_proxy/{{ displayable_event.id }}" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}

<meta name="twitter:app:name:googleplay" content="DanceDeets" />
<meta name="twitter:app:id:googleplay" content="com.dancedeets.android" />
<meta name="twitter:app:url:googleplay" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />

<meta property="al:ios:url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />
<meta property="al:ios:app_store_id" content="955212002" />
<meta property="al:ios:app_name" content="DanceDeets" />

<meta property="al:android:url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />
<meta property="al:android:package" content="com.dancedeets.android" />
<meta property="al:android:app_name" content="DanceDeets" />

<meta property="og:title" content="{{ displayable_event.name|e }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />
<meta property="og:site_name" content="DanceDeets" />
{% if displayable_event.has_image %}
<meta property="og:image" content="http://www.dancedeets.com/events/image_proxy/{{ displayable_event.id }}" />
{% endif %}
<meta property="og:description"
      content="{{ displayable_event.meta_description|e }}" />

{% if not displayable_event.is_indexable() %}
<meta name="robots" content="noindex" />
{% endif %}

<link rel="canonical" href="{{ canonical_url }}" />
{% if displayable_event.largest_cover %}
{# because NewsArticles requires an image:
 # https://developers.google.com/structured-data/rich-snippets/articles#article_markup_properties
 #}
<link rel="amphtml" href="{{ canonical_url }}?amp=1" />
{% endif %}

{% endblock %}

{% block body %}
<div id="react-parent">
  {{ react_html|safe }}
</div>
<script type="text/javascript">
  window._REACT_PROPS = {{ react_props|safe }};
  window._REACT_ID = 'react-parent';
</script>
{% endblock %}

{% block bottom_javascript %}
<script type="text/javascript">

mixpanel.track('View Event', {
  'Event ID': {{ displayable_event.id|tojson }},
  'Event City': {{ displayable_event.city|tojson }},
  'Event Country': {{ displayable_event.country|tojson }},
});
mixpanel.track_links(".link-event-add-to-calendar", "Add to Calendar");
mixpanel.track_links(".link-event-flyer", "View Flyer");
mixpanel.track_links(".link-event-source", "Open Source");
mixpanel.track_links(".link-event-share", "Share Event");
mixpanel.track_links(".link-event-admin", "View Event Admin");
mixpanel.track_links(".link-event-venue", "View Event Venue");
mixpanel.track_links(".link-event-map", "View on Map");
//TODO: Implement and add RSVP tracking?

function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
    multilanguagePage: true,
    gaTrack: true,
    gaId: 'UA-18831479-1',
  }, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% if displayable_event.latitude %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjgNUFTnWeftZEz6fWXZTGuQBRNR03VWE"></script>
{% endif %}
<script src="{{static_dir}}/js/eventExec.js"></script>
{% endblock %}
