{% extends class_base_template %}

{% block title %}
{{ topic_title }} Events
{% endblock %}

{% block head_stylesheet %}
<style type="text/css">
.event-item { width:  200px; }
</style>
{% endblock %}

{% block body %}
<div id="react-parent">
  {{ react_html|safe }}
</div>
<script type="text/javascript">
  window._REACT_PROPS = {{ react_props|safe }};
  window._REACT_ID = 'react-parent';
</script>
{% endblock %}



{% block bottom_javascript %}
<script type="text/javascript" src="{{static_dir}}/js/topicExec.js"></script>
{% endblock %}
