{% extends class_base_template %}

{% block title %}
{{ topic_title }} Events
{% endblock %}

{% block head_stylesheet %}
<style type="text/css">
.event-item { width:  200px; }
</style>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">

<div class="col-md-12">
<h2>{{ topic_title }} Events</h2>
{{ all_results|length }} events total:
</div>

<div class="col-md-6">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawTimeChart);
	function drawTimeChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('date', 'Month');
		data.addColumn('number', 'Events');
		data.addRows([
{% for year, month_results in group_by_date %}
	{% for month, results in month_results %}
			[new Date({{ year }}, {{ month }}, 1), {{ results|length }}],
	{% endfor %}
{% endfor %}
		]);

		var options = {
			bar: { groupWidth: "95%" },
			legend: { position: "none" },
			vAxis: {baseline: 0, textPosition: 'none', gridlines: {color: 'white'} },
		};
		var chart = new google.visualization.ColumnChart(document.getElementById("monthly_events"));
		chart.draw(data, options);
	}
</script>
<div id="monthly_events" style="width: 100%; height: 300px"></div>
</div>
<!--
<div class="col-md-6">
<script type="text/javascript">
	google.load("visualization", "1", {packages:["geochart"]});
	google.setOnLoadCallback(drawGeoChart);
	function drawGeoChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Country');
		data.addColumn('number', 'Events');
		data.addRows([
{% for location, results in group_by_location %}
			['{{ location }}', {{ results|length }}],
{% endfor %}
		]);

		var options = {
			colorAxis: {colors: ['lightblue', 'blue']}
		}
		var chart = new google.visualization.GeoChart(document.getElementById("country_events"));
		chart.draw(data, options);
	}
</script>
<div id="country_events" style="width: 100%; height: 300px;"></div>
</div>
-->

<div class="col-md-6">
<script type="text/javascript">
	google.load("visualization", "1", {packages:["map"]});
	google.setOnLoadCallback(drawMapChart);
	function drawMapChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('number', 'Lat');
		data.addColumn('number', 'Long');
		data.addColumn('string', 'Event');
		data.addRows([
{% for result in all_results %}
			[{{ result.latitude }}, {{ result.longitude }}, "{{ result.name|e }}"],
{% endfor %}
		]);

		var options = {
			showTip: true,
		}
		var chart = new google.visualization.Map(document.getElementById("location_events"));
		chart.draw(data, options);
	}
</script>
<div id="location_events" style="width: 100%; height: 300px;"></div>
</div>

</div>

<div class="row">
  <div class="col-md-12">
    <div id="react-parent">
      {{ react_html|safe }}
    </div>
  </div>
</div>
<script type="text/javascript">
  window._REACT_PROPS = {{ react_props|safe }};
  window._REACT_ID = 'react-parent';
</script>

</div> {# container #}
{% endblock %}



{% block bottom_javascript %}
<script type="text/javascript" src="{{static_dir}}/js/topicExec.js"></script>

{% endblock %}
