{% extends class_base_template %}

{% block title %}
{{ tutorial.name|e }}
{% endblock %}

{% block head_javascript %}
<script defer src="{{ static_path('tutorialExec.js') }}"></script>
<script>
  {{ enable_mixpanel() }}
</script>
{% endblock %}

{% block head_metatags %}
<link rel="canonical" href="{{ canonical_url }}" />
{% endblock %}

{% block head_stylesheet %}
<style>
/* Tutorial page layout - flex row/column based on screen width */
.media-width-row-or-column {
  flex-direction: row;
}

/* On mobile/narrow screens, stack vertically */
@media (max-width: 900px) {
  .media-width-row-or-column {
    flex-direction: column !important;
  }
}
</style>
{% endblock %}

{% block body %}
<style type="text/css">
.navbar {
  margin-bottom: 0;
}
.body-contents {
  margin-top: 0;
  margin-bottom: 0 !important;
}
</style>
<div id="react-parent">
  {{ react_html|safe }}
</div>
<script type="text/javascript">
  window._REACT_PROPS = {{ react_props|safe }};
  window._REACT_ID = 'react-parent';
</script>
{% endblock %}

{% block footer %}{% endblock %}
