{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/plugin-transform-flow-strip-types",
    ["react-intl", {
        "messagesDir": "../build/messages/",
        "enforceDescriptions": true
    }]
  ],
  "retainLines": true
}
