node_server/node_modules
node_modules
scratch
download
lib-local*
local_data
local_data2
local_data3
grammar-processed.*
full-logs.txt
scratch*
r/*
snapshotted
tmp
build
.git
# Don't technically need the server-side JS maps,
# as they're never accessed or used...
dist/js-server/*.map
dist-includes/*/*.map
# We have moved these all over to GCS
dist/js
dist/css

# Source bits, that we actually don't need to run on the server
amp/
assets/
docker/
tests/
notes/
test_data/

# We don't need this on the server, this is just for our replacement dev_appserver
frankenserver
