node_server/node_modules
node_modules
scratch
download
local_data
local_data2
local_data3
grammar-processed.*
full-logs.txt
scratch*
r/*
snapshotted
tmp
build
.git

# We don't need these on the server, this is only used for scrapy:
lib/lxml
lib/scrapy
lib/twisted
lib/zope

# These are C modules, which we need in the GAE sandbox to run locally.
# But on GAE/GCE, these should be provided built directly for the GCE platform
# (instead of my local dev box), and will be provided by requirements.txt
lib/PIL
lib/Pillow*
lib/cld2
lib/cld2_cffi*
lib/cld2full
lib/cffi
lib/_cffi*
