/*
  '#FFF3B0',
  '#FFEA73',
  '#FFD802',
  '#FFCA01',
  '#C0A000',
*/
$yellow-lighter: #FFEA73;
$deetsYellowColor: #FFD802;

$purple-darkest: #171728;
$purple-dark: #222238;
$purple-medium: #333452;
$purple-light: #4C4D81;
$purple-lighter: #656595;
$purple-lightest: #8283A9;

$blue-link: #70C0FF;

$brand-primary:         $purple-lighter;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


$text-color: white;
$background-color: $purple-dark;

$header-menu-hover-color: $yellow-lighter;
$header-background-color: $purple-darkest;

$footer-color: $purple-darkest;
$footer-border-color: $purple-medium;
$footer-text-color: #fff;
$footer-accent-color: $purple-medium;

$headline-underline-main-color: $deetsYellowColor;
$headline-underline-secondary-color: $purple-medium;


$event-info-icon-color: white;
$panel-default-text: white;
$panel-default-border: $blue-link;

$link-color: $blue-link;
$link-hover-color: lighten($link-color, 20%);
