$deetsYellowColor: #FFBA01;

$header-background-color: #171728;
$background-color: #222238;
$footer-color: #171728;
$footer-border-color: #333452;
$footer-text-color: #fff;
$footer-accent-color: #333452;
$headline-underline-main-color: $deetsYellowColor;
$headline-underline-secondary-color: #333452;
$text-color: #fff;


$link-color: #70C0FF;
$link-hover-color: lighten($link-color, 20%);
