Pillow==9.0.1
cld2-cffi==0.1.4
Shapely==1.5.17.post1
dateparser==0.5.1
timezonefinder==1.5.7
pylibmc==1.5.1 #memcache

# We keep this at 1.5.3 until https://github.com/SathyaBhat/spotify-dl/issues/30 is resolved
google-api-python-client==1.5.3
google-cloud==0.27.0
