{% extends "_real_base.html" %}

{% block headbody %}
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% import favicon_tags %}

<title>{% block title %}{% endblock %}</title>

<meta name="google-play-app" content="app-id=com.dancedeets.android">
<meta name="apple-itunes-app" content="app-id=955212002">

<meta property="fb:app_id" content="{{ app_id }}"/>
{% block head_metatags %}{% endblock %}
{% block head_stylesheet %}{% endblock %}
{% block head_javascript %}{% endblock %}
{% if prod_mode and track_google_analytics %}
  <script>

    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18831479-1', 'auto');
    ga('require', 'linkid', 'linkid.js');
  {% if user %}
    ga('set', '&uid', '{{ user.fb_uid }}');
  {% endif %}
    ga('send', 'pageview', {
      'dimension1':
  {% if user %}
      'logged-in'
  {% else %}
      'logged-out'
  {%- endif %}
  {% if user %}
  ,
      'dimension2': 'has-account'
  {%- endif %}
    });
  </script>

  {% if user %}
    <script>
    {# Facebook Conversion Code for Registrations #}
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6021504517949', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021504517949&amp;noscript=1" /></noscript>
  {% endif %}
{% else %}
  <script type="text/javascript">
  var _gaq = [];
  </script>
{% endif %}
</head>
<body>
{# get rid of this and merge it inline? #}

{% if mobile_app_url and show_mobile_app_promo %}
<div class="modal fade" id="app-install" tabindex="-1" role="dialog" aria-labelledby="app-install" aria-hidden="true">
  <div class="modal-dialog fullscreen-dialog">
    <div class="modal-content fullscreen-content">
      <h3>DanceDeets Mobile App</h3>
      <div style="clearfix"/>
        <div>Keep up with the latest dance events when you're on the go!</div>
        <ul class="feature-list spacing fa-ul">
        <li><i class="fa-li fa fa-search fa-lg"></i>Search Worldwide</li>
        <li><i class="fa-li fa fa-calendar fa-lg"></i>Add to Calendar</li>
        <li><i class="fa-li fa fa-facebook-square fa-lg"></i>View on Facebook</li>
        </ul>
        <ul class="feature-list spacing fa-ul">
        <li><i class="fa-li fa fa-map-marker fa-lg"></i>Get Directions</li>
        <li><i class="fa-li fa fa-check fa-lg"></i>RSVP on Facebook</li>
        <li><i class="fa-li fa fa-language fa-lg"></i>Translate Languages (Android Only)</li>
        </ul>
      </div>
      <a href="{{ mobile_app_url }}" class="btn btn-primary download-app">Get the mobile app</a>
      <div class="cancel" data-dismiss="modal" onclick="hideAppPromo(); return false">No thanks!</div>
    </div>
  </div>
</div>
{# conditionally show this with some "close" rememberance via cookies or local storage #}
{% endif %}

{# Static navbar #}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
      <div class="navbar-brand">
        <a href="/"><img src="/images/dancedeets-horizontal.png" width="189" ></a>
      </div>
        </div>
        <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dance Styles<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
{% for style in styles %}
            <li><a href="/style/{{ style.url_name }}">{{ style.public_name }}</a></li>
{% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">North America<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
{% for city in us_cities %}
            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
{% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Europe<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
{% for city in eu_cities %}
            <li><a href="/?location={{ city }}">{{ city }}</a></li>
{% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">World<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
{% for loc in other %}
            <li><a href="/?location={{ loc }}">{{ loc }}</a></li>
{% endfor %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dance Classes<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/classes/nyc">New York, NY</a></li>
            <li><a href="/classes/la">Los Angeles, CA</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li class="nav-icon-row">
          <a href="https://www.facebook.com/dancedeets" class="nav-icon" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
          <a href="https://twitter.com/dancedeets" class="nav-icon" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
          <a href="https://instagram.com/dancedeets/" class="nav-icon" target="_blank"><i class="fa fa-instagram fa-lg"></i></a>
        </li>
{% if user %}
{#        <img src="http://graph.facebook.com/{{ user.fb_uid }}/picture" style="border: 1px solid black"> #}
        <li><a href="/user/edit">{{ user.full_name or 'Account' }}</a></li>
        <li><a href="#" onclick="logout(); return false;">Logout</a></li>
{% else %}
                <li><div class="nav-text"><fb:login-button length="long" scope="{{fb_permissions}}"></fb:login-button></div></li>
{% endif %}
            </ul>
        </div>{# /.nav-collapse #}
    </div>
</nav>

{% if errors %}
<div class="alert alert-danger"><ul>
{% for error in errors %}
    <li>{{ error|e }}</li>
{% endfor %}
</ul></div>
{% endif %}

{% if messages %}
<div class="alert alert-info">
<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<ul>
{% for message in messages %}
    <li>{{ message|e }}</li>
{% endfor %}
</ul></div>
{% endif %}

{% if not suppress_promos and (not user or show_mobile_promo) %}
<div class="alert alert-warning alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<ul>
{% if not user %}
    <li>A dope dancer? <button type="button" onclick="manualLogin();" class="btn btn-default"><i class="fa fa-sign-in fa-lg"></i> Join dancedeets and share your events</button> to help others find your dance scene.
    <li>Learning to dance? <button type="button" onclick="manualLogin();" class="btn btn-default"><i class="fa fa-envelope fa-lg"></i> Subscribe to our weekly email</button> of upcoming events.
{% endif %}
{% if show_mobile_promo %}
    <li><a href="/mobile_apps" class="btn btn-default"><i class="fa fa-mobile fa-lg"></i> DanceDeets Mobile App</a> helps you find events on the go.
{% endif %}
</ul></div>
{% endif %}

<div class="container">

{% block body %}{% endblock %}

    <footer>
    <a href="/about">About</a> | <a href="/rankings">Rankings</a> | <a href="/help">Help</a> | <a href="/feedback">Feedback</a> | <a href="/privacy">Privacy</a>
    <br>
    <div class="fb-like" data-href="https://www.facebook.com/dancedeets" data-layout="standard" data-width="300" data-action="like" data-show-faces="true" data-share="true"></div>
  <div><a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a></div>
  </footer>

</div> {# /container #}

<div id="fb-root"></div>

{% if prod_mode %}
{# Begin TrackJS #}
{# These should be first to ensure we catch all JS errors #}
<script type="text/javascript">
window._trackJs = {
{% if user %}
  userId: "{{ user.fb_uid }} - {{ user.full_name }}",
{% endif %}
  token: '77a8a7079d734df7a94150f8f0d7e16f'
};</script>
<script type="text/javascript" src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
{# End TrackJS #}
{% endif %}

<!-- if we ever want to add i18n, we can use moment-with-locales instead -->
<script src="https://cdn.jsdelivr.net/g/jquery@2.1.4,bootstrap@3.3.5,jquery.cookie@1.4.1,momentjs@2.10.6,jquery.lazyload@1.9.3" crossorigin="anonymous"></script>
{% if mobile_show_smartbanner %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.smartbanner/1.0.0/jquery.smartbanner.min.js" crossorigin="anonymous"></script>
{% endif %}
<script type="text/javascript">
  {% if mobile_show_smartbanner %}
  $.smartbanner({
    title: "DanceDeets",
    author: "DanceDeets",
    icon: '/images/ic_launcher_dancedeets.png'
  });
  {% endif %}

  function manualLogin() {
    FB.login(function(response){}, {scope: '{{ fb_permissions }}'});
  }

  // Facebook/Login Code
  (function() {
    var e = document.createElement('script'); e.async = true;
    e.src = 'https://connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());

  function deleteLoginCookies() {
    cookie_options = {domain: '.{{ base_hostname }}', path: '/'}
    $.removeCookie('fbsr_{{ app_id }}', cookie_options)
    $.removeCookie('user_login_{{ app_id }}', cookie_options)
  }

  function reloadWithNewToken() {
    if (String(window.location).indexOf('?') != -1) {
      window.location = window.location + '&nt=1';
    } else {
      window.location = window.location + '?nt=1';
    }
  }
  function currentUser() {
    var user_login = $.cookie('user_login_{{ app_id }}');
    if (user_login) {
      return JSON.parse(user_login)['uid'];
    }
  }

  function logout() {
    // Seems the logout callback isn't being called, so ensure we delete the cookie here
    deleteLoginCookies();
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        FB.logout(function(response) {
          window.location.reload();
        });
      } else {
        window.location.reload();
      }
    });
  }

  function handleStatusChange(response) {
    if (response.status === 'connected') {
      if (response.authResponse.userID != currentUser()) {
        // reload through endpoint to set up new user cookie serverside
        // TODO(lambert): Add a full-screen overlay explaining what we are doing...
        reloadWithNewToken();
      }
    } else if (response.status === 'not_authorized') {
      if (currentUser()) {
        // the user is logged in to Facebook, but not connected to the app
        deleteLoginCookies();
        // TODO(lambert): Add a full-screen overlay explaining what we are doing...
        reloadWithNewToken('not_authorized');
      }
    } else {
      // the user isn't even logged in to Facebook.
    }
  }
  window.fbAsyncInit = function() {
    FB.init({appId: '{{ app_id }}', status: true, cookie: true, xfbml: true});
    FB.Event.subscribe('auth.statusChange', handleStatusChange);
  };

  /* center modal */
  function centerModals(){
    $('.modal').each(function(i){
      var clone = $(this).clone().css('display', 'block').appendTo('body');
      var top = Math.round((clone.height() - clone.find('.modal-content').height()) / 2);
      top = top > 0 ? top : 0;
      clone.remove();
      $(this).find('.modal-content').css("margin-top", top);
    });
  }
  $(document).ready(function() {
    // Only show the promo if it's the second time the user is using the app
    if ($('#app-install')) {
      var app_used = $.cookie('ap-used');
      if (app_used) {
        $('.modal').on('show.bs.modal', centerModals);
        $(window).on('resize', centerModals);

        var app_promo_closed = $.cookie('ap-closed');
        if (!app_promo_closed) {

          $('#app-install').modal({});
        }
      }
      $.cookie('ap-used', '1', { expires: 60 })
    }
  });
  // This is because of sticky touch CSS on mobile devices:
  // https://github.com/twbs/bootstrap/issues/12832
  // With bootstrap v4, we can replace this with:
  // http://v4-alpha.getbootstrap.com/getting-started/browsers-devices/#sticky-hoverfocus-on-mobile
  // For other solutions, see:
  // http://stackoverflow.com/questions/17233804/how-to-prevent-sticky-hover-effects-for-buttons-on-touch-devices
  // http://stackoverflow.com/questions/23885255/how-to-remove-ignore-hover-css-style-on-touch-devices?lq=1
  $(window).load(function() {
    var touch = window.ontouchstart
            || navigator.MaxTouchPoints > 0
            || navigator.msMaxTouchPoints > 0;

    if (touch) { // remove all :hover stylesheets
        try { // prevent crash on browsers not supporting DOM styleSheets properly
            for (var si in document.styleSheets) {
                var styleSheet = document.styleSheets[si];
                if (!styleSheet.rules) continue;

                for (var ri = styleSheet.rules.length - 1; ri >= 0; ri--) {
                    if (!styleSheet.rules[ri].selectorText) {
                      /*for (var rri = styleSheet.rules[ri].cssRules.length - 1; rri >= 0; rri--) {
                        console.log("CSSRULE " + rri + ": " + styleSheet.rules[ri].cssRules[rri].selectorText);
                        if (styleSheet.rules[ri].cssRules[rri].selectorText.match(':hover')) {
                            stylesheet.rules[ri].deleteRule(ri);
                        }
                      }*/
                    } else {
                      if (styleSheet.rules[ri].selectorText.match(':hover')) {
                        var st = styleSheet.rules[ri].selectorText;
                        if (st.indexOf(',') != -1) {
                          var selectors = st.split(',');
                          var keepSelectors = [];
                          selectors.forEach(function(s) {
                            if (!s.match(':hover')) {
                              keepSelectors.push(s);
                            }
                          });
                          var newSelectorText = keepSelectors.join(',')
                          styleSheet.rules[ri].selectorText = newSelectorText;
                        } else {
                          styleSheet.deleteRule(ri);
                        }
                      }
                    }
                }
            }
        } catch (ex) {}
    }

  });

  function hideAppPromo() {
    $.cookie('ap-closed', '1', { expires: 4 })
  }

</script>
{% block bottom_javascript %}{% endblock %}

{% if user and prod_mode %}
{# Google Code for signup Conversion Page #}
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 992860743;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "Q-eJCImZgQIQx7S32QM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/992860743/?label=Q-eJCImZgQIQx7S32QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
{% endif %}
</body>
{% endblock %}

