{% extends "_bigbox_base.html" %}

{% block title %}
Edit Event
{% endblock %}

{% block inner_body %}

		<form action="/events/admin_edit" method=post>

			<table class="goog-trans-section"><tr><td>
			<h2>{{ fb_event.info.name|format_html|highlight_keywords }}</h2>
			</td><td class="goog-trans-control"></td></tr>
			</table>
			<a href="{{ raw_fb_event_url(fb_event.info.id) }}">See on Facebook</a> (<a href="http://graph.facebook.com/{{ fb_event.info.id }}">Graph</a>)
			{% if fb_event.info.owner %}
				(Owner: <a href="{{ dd_admin_source_url(fb_event.info.owner.id) }}">{{ fb_event.info.owner.name }}</a>
				{%- if owner_location -%}
				, Location: {{ owner_location }}
				{% endif -%})
			{% endif %}
			<br><br>
			<table>
				<tr><td>
					Original Address:
				</td><td>
					<table class="goog-trans-section" style="display:inline"><tr><td>
					<a href="http://www.google.com/search?q={{ location_info.fb_address|urlencode }}">{{ location_info.fb_address|format_html }}</a>
					</td><td class="goog-trans-control"></td></tr>
					</table>
				</td></tr>
				<tr><td>
					Geocoded Address:
				</td><td>
					{{ fb_geocoded_address|format_html }}
				</td></tr>
				<tr><td>
					Remapped Address:
				</td><td>
					<input type="text" size=40 name="remapped_address" value="{{ location_info.remapped_address or "" }}">
				</td></tr>
				<tr><td>
					Override Address:
					{% if location_info.needs_override_address() %}
						(Required!)
					{% endif %}
				</td><td>
					<input type="text" size=40 name="override_address" value="{{ location_info.overridden_address or "" }}">
				</td></tr>
				<tr><td>
					Final Address:
				</td><td>
					{{ location_info.final_city|format_html }}
					{% if event and event.anywhere %}
					<br>Online/Anywhere/Worldwide
					{% endif %}
				</td></tr>
			</table>
			<div class="goog-trans-section">
			<table><tr><td>Description:</td><td class="goog-trans-control"></td></tr></table>
			{% if fb_event.info.description %}
				{% set description = fb_event.info.description %}
			{% else %}
				{% set description = "None!" %}
			{% endif %}
			<div style="padding: 20px; width: 600px; height:150px; overflow:scroll; border: 1px solid black">{{ description|format_html|linkify|highlight_keywords }}</div>
			</div>
			<p>Reason: {{ classified_event.reason() }}<br>
			Dance Words: {{ classifier_dance_words }}<br>
			Event Words: {{ classifier_event_words }}<br>
			Auto-classified: {{ auto_classified_types }}<br>
			Auto-categorized: {{ auto_categorized_types }}<br>
			{% if event %}
				Any Existing Tags:
				{% for tag in event.tags %}
					{{ tag }}
				{% endfor %}
			<br>
			{% endif %}
			<p>
			{% if event %}
				{% if creating_user %}
					Submitted by <a href="{{ creating_user.profile.link }}">{{ creating_user.profile.name }}</a>.<br>
				{% endif %}
				<button class="btn btn-primary">Edit Event</button>
				<button class="btn btn-danger" name="delete" value="yes">Delete Event</button>
			{% else %}
				Creating new event!
				<button class="btn btn-primary">Create Event</button>
				{# <button class="btn btn-default">Not a Dance Event</button> #}
			{% endif %}
			<p>
			{% if event %}
				Has a db event (<a href="https://appengine.google.com/
datastore/edit?app_id=s~dancedeets-hrd&key={{ event.key.urlsafe() }}">AE</a>).<br>
			{% endif %}
			{% if potential_event %}
				Has a potential event (<a href="https://appengine.google.com/datastore/edit?app_id=s~dancedeets-hrd&key={{ potential_event.key().__str__() }}">AE</a>).<br>
				Language: {{ potential_event.language }}<br>
				Dance Bias Score is {{ potential_event.dance_bias_score }}.<br>
				Non Dance Bias Score is {{ potential_event.non_dance_bias_score }}.<br>
				Keyword Score is {{ potential_event.match_score }}.<br>
				Inv Keyword Density is {{ classified_event.inverse_keyword_density() }}.<br>
				Show-even-if-zero is {{ potential_event.show_even_if_no_score }}.<br>
				With Sources:
				{% for source_id in potential_event.source_ids %}
					<a href="{{ dd_admin_source_url(source_id) }}">{{ source_id }}</a>,
				{% endfor %}
			{% endif %}
			<input type="hidden" name="event_id" value="{{ fb_event.info.id }}">

		</form>
  </body>
{% endblock %}

{% block bottom_javascript %}
<script>
function googleSectionalElementInit() {
  new google.translate.SectionalElement({
    sectionalNodeClassName: 'goog-trans-section',
    controlNodeClassName: 'goog-trans-control',
    background: 'transparent'
  }, 'google_sectional_element');
}
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en" crossorigin="anonymous"></script>
</script>
{% endblock %}

