{% extends "_bigbox_base.html" %}
{% block title %}
Edit Source
{% endblock %}

{% block inner_body %}
		<form action="/sources/admin_edit" method=post>

			<h2>{{ fb_source.info.name }}</h2>
			<a href="{{ link_for_fb_source(fb_source) }}">See on Facebook</a> (<a href="http://graph.facebook.com/{{ fb_source.info.id }}">Graph</a>)
			<br><br>

			<div class="goog-trans-section">
			<table><tr><td>Description:</td><td class="goog-trans-control"></td></tr></table>
			{% set description = fb_source.info.personal_info or fb_source.info.description or 'None!' %}

			<div id="description" style="padding: 20px; width: 600px; height:150px; overflow:scroll; border: 1px solid black">
			{{ description|format_html|linkify }}</div>
			</div>

			<p>
			{% if creating_user %}
				Submitted by <a href="{{ creating_user.profile.link }}">{{ creating_user.profile.name }}</a>.<br>
			{% endif %}
			{% if source.is_saved() %}

				<button class="btn btn-primary">Edit Source</button>
				<button class="btn btn-danger" name="delete" value="yes">Delete Source</button>
				<p>
				Length-in-Seconds: {{ source.feed_history_in_seconds }}<br>
				Num Potential Events: {{ source.num_potential_events }}<br>
				Num Real Events: {{ source.num_real_events }}<br>
				Num False-Negative Events: {{ source.num_false_negatives }}<br>
				Fraction of Real are False Negative: {{ source.fraction_real_are_false_negative() }}<br>
				Fraction of Potential are Real: {{ source.fraction_potential_are_real() }}<br>
				{% if potential_events %}
					All {{ potential_events|length }} PotentialEvent ids:
					{% for potential_event in potential_events %}
						<a href="{{ dd_admin_event_url(potential_event.fb_event_id) }}">{{ potential_event.fb_event_id }}</a>,
					{% endfor %}
					<p>
					All {{ db_event_ids|length }} DBEvents:
					{% for db_event_id in db_event_ids %}
						<a href="{{ dd_admin_event_url(db_event_id) }}">{{ db_event_id }}</a>,
					{% endfor %}
					<p>
					All {{ no_good_event_ids|length }} No-Good PotentialEvent ids:
					{% for event_id in no_good_event_ids %}
						<a href="{{ dd_admin_event_url(event_id) }}">{{ event_id }}</a>,
					{% endfor %}
					<br>
				{% endif %}
				<pre>{{ fb_source_data }}</pre>
			{% else %}
				Adding new source!
				<button class="btn btn-primary">Create Source</button>
				<!--button class="btn btn-default">Not a Source</button-->
			{% endif %}
			<input type="hidden" name="source_id" value="{{ fb_source.info.id }}">

		</form>
  </body>
{% endblock %}

{% block bottom_javascript %}
<script>
function googleSectionalElementInit() {
  new google.translate.SectionalElement({
    sectionalNodeClassName: 'goog-trans-section',
    controlNodeClassName: 'goog-trans-control',
    background: 'transparent'
  }, 'google_sectional_element');
}
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleSectionalElementInit&ug=section&hl=en" crossorigin="anonymous"></script>
</script>
{% endblock %}
