{% extends class_base_template %}

{% block title %}
{{ event.info.name|e }}
{% endblock %}

{% block head_metatags %}
<meta name="twitter:site" content="@dancedeets" />
<meta name="twitter:creator" content="@dancedeets" />
<meta name="twitter:title" content="{{ event.info.name|e }}" />
{% if event.info.description %}
	<meta name="twitter:description" content="{{ event.info.description|truncate(250)|e }}">
{% endif %}
{% if displayable_event.cover_metadata %}
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:image:src" content="http://{{ full_hostname }}/events/image_proxy/{{ event.info.id }}" />
{% else %}
	<meta name="twitter:card" content="summary" />
{% endif %}

<meta name="twitter:app:name:googleplay" content="DanceDeets" />
<meta name="twitter:app:id:googleplay" content="com.dancedeets.android" />
<meta name="twitter:app:url:googleplay" content="http://{{ full_hostname }}/events/{{ event.info.id }}/" />
{#
<meta property="al:ios:url" content="http://{{ full_hostname }}/events/{{ event.info.id }}/" />
<meta property="al:ios:app_store_id" content="955212002" />
<meta property="al:ios:app_name" content="DanceDeets" />
#}

<meta property="al:android:url" content="http://{{ full_hostname }}/events/{{ event.info.id }}/" />
<meta property="al:android:package" content="com.dancedeets.android" />
<meta property="al:android:app_name" content="DanceDeets" />

<meta property="og:title" content="{{ event.info.name|e }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://{{ full_hostname }}/events/{{ event.info.id }}/" />
<meta property="og:site_name" content="DanceDeets" />
<meta property="og:image" content="http://www.dancedeets.com/events/image_proxy/{{ event.info.id }}" />
<meta property="og:description"
			content="{{ description|e }}" />

<link rel="canonical" href="{{ canonical_url }}" />
{% if displayable_event.largest_cover %}
{# because NewsArticles requires an image:
 # https://developers.google.com/structured-data/rich-snippets/articles#article_markup_properties
 #}
<link rel="amphtml" href="{{ canonical_url }}?amp=1" />
{% endif %}

{% endblock %}

{% block body %}
<div class="container">
<div itemscope itemtype="http://schema.org/DanceEvent">

	<span itemprop="url" content="http://{{ full_hostname }}/events/{{ event.info.id }}/"></span>

	<div class="row">
		<div class="col-xs-12">
			{% if displayable_event.city_state_country or displayable_event.categories %}
				See more events:
				<ul>
					{% if displayable_event.city_state_country %}
						<li>in <a href="/?location={{ displayable_event.city_state_country }}">{{ displayable_event.city_state_country }}</a>.
					{% endif %}
					{% if displayable_event.categories %}
						<li>categorized as:
						{{ displayable_event.categories|make_category_link|join(', ') }}
					{% endif %}
				</ul>
			{% endif %}

			<h1 class="event-page-title" itemprop="name">{{ event.info.name }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-5">
			{% if displayable_event.cover_metadata %}
				<div style="position: relative; margin-bottom: 1em"><a class="link-event-flyer" href="{{ displayable_event.largest_cover.source }}">
						<img src="{{ displayable_event.largest_cover.source }}" style="width: 100%" itemprop="image">
				</a></div>
			{% endif %}

			<ul class="fa-ul event-ul">
			{% if displayable_event.cover_metadata %}
				<li><i class="event-info-icon fa-li fa fa-picture-o fa-lg"></i><b><a class="link-event-flyer" href="{{ displayable_event.largest_cover.source }}">See Full Flyer</a></b></li>
			{% endif %}
			<li><i class="event-info-icon fa-li fa fa-facebook-square fa-lg fa-fw"></i><b><a class="link-event-on-fb" href="{{ raw_fb_event_url(event.info.id) }}">See Event on Facebook</a></b></li>
			<li><div class="product-social-links" style="padding-bottom: 0 1em; height: 20px">
				<a class="link-event-share twitter-share-button" href="https://twitter.com/intent/tweet?hashtags=dancedeets" data-count="none">Tweet</a>
				<div class="link-event-share fb-share-button" data-layout="button"></div>
			</div></li>
			<li><i class="event-info-icon fa-li fa fa-clock-o fa-lg"></i><b>Time:</b>
			<time itemprop="startDate" content="{{ displayable_event.start_time|datetime_format }}">
			{{ duration_human_format(displayable_event.start_time, end_time) }}
			</time>
			{% if displayable_event.end_time %}
				<meta itemprop="endDate" content="{{ displayable_event.end_time|datetime_format }}" />
			{% endif %}
			</li>
			{% if event.info.attending_count %}
				<li><i class="event-info-icon fa-li fa fa-users fa-lg"></i><b>RSVPs:</b>
				{{ event.info.attending_count }} Attending
				{%- if event.info.maybe_count -%}
					, {{ event.info.maybe_count }} Maybe
				{%- endif %}
				</li>
			{% endif %}
			{% if displayable_event.admins %}
				<li><i class="event-info-icon fa-li fa fa-user fa-lg"></i><b>Admins:</b><br>
				<ul>
				{% for admin in displayable_event.admins %}
					<li><a class="link-event-admin" href="https://www.facebook.com/{{ admin.id }} ">{{ admin.name }}</a></li>
				{% endfor %}
				</ul>
				</li>
			{% endif %}
			<li><i class="event-info-icon fa-li fa fa-map-marker fa-lg"></i><b>Location:</b><br>
			<div>
			{% if displayable_event.location_name %}
				{% if event.info.venue and event.info.venue.id %}
					<a class="link-event-venue" href="https://www.facebook.com/{{ event.info.venue.id }}">{{ displayable_event.location_name }}</a>
				{% else %}
					{{ displayable_event.location_name }}
				{% endif %}
				<br>
			{% endif %}
			{% if displayable_event.street_address %}
				{{ displayable_event.street_address }}<br>
			{% endif %}
			{{ displayable_event.city_state_country }}<br>

{{ displayable_event.location_schema_html() }}
			</div></li>
			</ul>
			{# not worth showing maps embed if there is no street_address #}
			{% if displayable_event.latitude %}
				<p>Open in <a class="link-event-map" href="http://maps.google.com/?daddr={{ displayable_event.latitude }},{{ displayable_event.longitude }}" target="_blank">Google Maps</a>.
				{% if event.info.description %}
					<div class="visible-xs" style="font-style: italic">Event description is below the map.</div>
				{% endif %}
				<div id="map-wrapper" class="responsive-map-wrapper">
				</div>
			{% endif %}
		</div>

		{% if event.info.description %}
		<div class="col-sm-7">
			<h1 class="event-page-title visible-xs-block">{{ event.info.name }}</h1>
			<div><b>Description:</b></div>
			<span itemprop="description">
				{{ event.info.description|format_html|linkify }}
			</span>
		</div>
		{% endif %}
	</div>

{#
can add these to google-maps embed:
language= parameter
region= paramter cctld
#}

</div>{# itemscope #}
</div>
{% endblock %}

{% block bottom_javascript %}
<script type="text/javascript">

mixpanel.track('View Event', {
  'Event ID': {{ event.info.id|tojson }},
  'Event City': {{ displayable_event.city|tojson }},
  'Event Country': {{ displayable_event.country|tojson }},
});
mixpanel.track_links(".link-event-flyer", "View Flyer");
mixpanel.track_links(".link-event-on-fb", "Open in Facebook");
mixpanel.track_links(".link-event-share", "Share Event");
mixpanel.track_links(".link-event-admin", "View Event Admin");
mixpanel.track_links(".link-event-venue", "View Event Venue");
mixpanel.track_links(".link-event-map", "View on Map");
//TODO: Implement and add RSVP tracking?

{% if displayable_event.latitude %}
function load_map() {
	if ($('.map-wrapper')) {
		{# TODO(lambert): We can do a better job, checking on the server if google maps can geocode our place query q=venue/street into a place thats near the lat/long that facebook has, and if so, to point at that here instead of just a raw lat/long location.
		#}
		var myLatlng = new google.maps.LatLng({{ displayable_event.latitude }}, {{ displayable_event.longitude }});
		var mapOptions = {
			zoom: 13,
			scrollwheel: false,
			draggable: false,
			center: myLatlng
		}
		var map = new google.maps.Map(document.getElementById('map-wrapper'), mapOptions);

		var marker = new google.maps.Marker({
			position: myLatlng,
			map: map,
			title: "{{ event.info.location|e }}",
		});
	}
}
{% endif %}

window.twttr = (function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0],
		t = window.twttr || {};
	if (d.getElementById(id)) return t;
	js = d.createElement(s);
	js.id = id;
	js.src = "https://platform.twitter.com/widgets.js";
	fjs.parentNode.insertBefore(js, fjs);

	t._e = [];
	t.ready = function(f) {
		t._e.push(f);
	};

	return t;
}(document, "script", "twitter-wjs"));

</script>
{% if displayable_event.latitude %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvvrWfamjBD6LqCURkATAWEovAoBm1xNQ&amp;callback=load_map">
</script>
{% endif %}
{% endblock %}
