{% extends class_base_template %}
{% import "_event_common.html" as event_common %}

{% block title %}
{{ displayable_event.name|e }}
{% endblock %}

{% block head_metatags %}
<meta name="twitter:site" content="@dancedeets" />
<meta name="twitter:creator" content="@dancedeets" />
<meta name="twitter:title" content="{{ displayable_event.name|e }}" />
{% if displayable_event.description %}
  <meta name="twitter:description" content="{{ displayable_event.description|truncate(250)|e }}">
{% endif %}
{% if displayable_event.has_image %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image:src" content="http://{{ full_hostname }}/events/image_proxy/{{ displayable_event.id }}" />
{% else %}
  <meta name="twitter:card" content="summary" />
{% endif %}

<meta name="twitter:app:name:googleplay" content="DanceDeets" />
<meta name="twitter:app:id:googleplay" content="com.dancedeets.android" />
<meta name="twitter:app:url:googleplay" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />

<meta property="al:ios:url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />
<meta property="al:ios:app_store_id" content="955212002" />
<meta property="al:ios:app_name" content="DanceDeets" />

<meta property="al:android:url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />
<meta property="al:android:package" content="com.dancedeets.android" />
<meta property="al:android:app_name" content="DanceDeets" />

<meta property="og:title" content="{{ displayable_event.name|e }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/" />
<meta property="og:site_name" content="DanceDeets" />
{% if displayable_event.has_image %}
<meta property="og:image" content="http://www.dancedeets.com/events/image_proxy/{{ displayable_event.id }}" />
{% endif %}
<meta property="og:description"
      content="{{ displayable_event.meta_description|e }}" />

{% if not displayable_event.is_indexable() %}
<meta name="robots" content="noindex" />
{% endif %}

<link rel="canonical" href="{{ canonical_url }}" />
{% if displayable_event.largest_cover %}
{# because NewsArticles requires an image:
 # https://developers.google.com/structured-data/rich-snippets/articles#article_markup_properties
 #}
<link rel="amphtml" href="{{ canonical_url }}?amp=1" />
{% endif %}

{% endblock %}

{% block body %}
<div class="container">
<div itemscope itemtype="http://schema.org/DanceEvent">

  <span itemprop="url" content="http://{{ full_hostname }}/events/{{ displayable_event.id }}/"></span>

  <div class="row">
    <div class="col-xs-12">
      {% if displayable_event.city_state_country or displayable_event.categories %}
        See more events:
        <ul>
          {% if displayable_event.city_state_country %}
            <li>in <a href="/?location={{ displayable_event.city_state_country }}">{{ displayable_event.city_state_country }}</a>.
          {% endif %}
          {% if displayable_event.categories %}
            <li>categorized as:
            {{ displayable_event.categories|make_category_link|join(', ') }}
          {% endif %}
        </ul>
      {% endif %}

      <h1 class="event-page-title" itemprop="name">{{ displayable_event.name }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      {% if displayable_event.has_image %}
        <div style="position: relative; margin-bottom: 1em"><a class="link-event-flyer" href="/events/image_proxy/{{ displayable_event.id }}">
            <img src="/events/image_proxy/{{ displayable_event.id }}" style="width: 100%" itemprop="image">
        </a></div>
      {% endif %}

      <div style="border-radius: 15px; background-color: #4C4D81; padding: 10px">
      {{ event_common.event_info_as_icon_list(displayable_event, canonical_url) }}
      <meta itemprop="startDate" content="{{ displayable_event.start_time|datetime_format }}" />
      {% if displayable_event.end_time %}
        <meta itemprop="endDate" content="{{ displayable_event.end_time|datetime_format }}" />
      {% endif %}
      </div>
      {# not worth showing maps embed if there is no street_address #}
      {% if displayable_event.latitude %}
        <p>Open in <a class="link-event-map" href="http://maps.google.com/?daddr={{ displayable_event.latitude }},{{ displayable_event.longitude }}" target="_blank">Google Maps</a>.
        {% if displayable_event.description %}
          <div class="visible-xs" style="font-style: italic">Event description is below the map.</div>
        {% endif %}
        <div id="map-wrapper" class="responsive-map-wrapper">
        </div>
      {% endif %}
    </div>

    {% if displayable_event.description %}
    <div class="col-sm-7">
      <h1 class="event-page-title visible-xs-block">{{ displayable_event.name }}</h1>
      <div><b>Description:</b></div>
      <div style="height: 25px" id="google_translate_element"></div>
      <span itemprop="description">
        {{ displayable_event.description|format_html|linkify }}
      </span>
    </div>
    {% endif %}
  </div>

{#
can add these to google-maps embed:
language= parameter
region= paramter cctld
#}

</div>{# itemscope #}
</div>
{% endblock %}

{% block bottom_javascript %}
<script type="text/javascript">

mixpanel.track('View Event', {
  'Event ID': {{ displayable_event.id|tojson }},
  'Event City': {{ displayable_event.city|tojson }},
  'Event Country': {{ displayable_event.country|tojson }},
});
mixpanel.track_links(".link-event-add-to-calendar", "Add to Calendar");
mixpanel.track_links(".link-event-flyer", "View Flyer");
mixpanel.track_links(".link-event-source", "Open Source");
mixpanel.track_links(".link-event-share", "Share Event");
mixpanel.track_links(".link-event-admin", "View Event Admin");
mixpanel.track_links(".link-event-venue", "View Event Venue");
mixpanel.track_links(".link-event-map", "View on Map");
//TODO: Implement and add RSVP tracking?

{% if displayable_event.latitude %}
function load_map() {
  if ($('.map-wrapper')) {
    {# TODO(lambert): We can do a better job, checking on the server if google maps can geocode our place query q=venue/street into a place thats near the lat/long that facebook has, and if so, to point at that here instead of just a raw lat/long location.
    #}
    var myLatlng = new google.maps.LatLng({{ displayable_event.latitude }}, {{ displayable_event.longitude }});
    var mapOptions = {
      zoom: 13,
      scrollwheel: false,
      draggable: false,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map-wrapper'), mapOptions);

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map,
      title: "{{ displayable_event.location_name|e }}",
    });
  }
}
{% endif %}

window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));

function googleTranslateElementInit() {
  new google.translate.TranslateElement({
    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
    multilanguagePage: true,
    gaTrack: true,
    gaId: 'UA-18831479-1',
  }, 'google_translate_element');
}
</script>
{% if displayable_event.latitude %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAvvrWfamjBD6LqCURkATAWEovAoBm1xNQ&amp;callback=load_map">
</script>
{% endif %}
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{% endblock %}
