Hi {{ user.full_name }},

{% if user.expired_oauth_token and user.num_auto_added_events > 10 %}
<p>DanceDeets has lost access to your FB account. Please <a href="http://www.dancedeets.com/?source=email">sign in to DanceDeets again</a> to ensure DanceDeets can share your dance events with others in the scene!
{% endif %}

<p>(See the <a href="http://www.dancedeets.com/?source=email">up-to-date event listing</a>)<br>

<table cellpadding=0 cellspacing=0 border=0>
{% for result in results %}
<tr>
	<td width="180">
		<a href="{{ dd_event_url(result.event_id, dict(utm_source='weekly_email', utm_medium='email', utm_campaign='weekly_email')) }}">
		<img src="{{ result.image }}" width="180" border="0">
		</a>
		<br><br>
	</td>
	<td valign=top>
		<a href="{{ dd_event_url(result.event_id, dict(utm_source='weekly_email', utm_medium='email', utm_campaign='weekly_email')) }}">
		<b style="font-size: 110%">{{ result.name|e }}</b>
		</a><br>
		({{ result.event_keywords|join(', ') }})<br>
		{{ result.start_time|date_human_format }}<br>
		{% if result.multi_day_event() and result.end_time %}
			to {{ result.end_time|date_human_format }}<br>
		{% endif %}
		{% if result.attendee_count %}
			{{ result.attendee_count }} Attending<br>
		{% endif %}
		{{ result.actual_city_name }}
	</td>
</tr>
{% endfor %}
</table>

<p>To unsubscribe or change your preferred city, <a href="http://www.dancedeets.com/user/edit">go to your DanceDeets settings.</a>

