{% extends class_base_template %}

{% block title %}
DanceDeets
{% endblock %}

{% block head_stylesheet %}
    <meta property="og:title" content="DanceDeets"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.dancedeets.com/"/>
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:description"
          content="Every street dance event. On the web, on your phone. At home, and when traveling."/>

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
{% endblock %}

{% block body %}

<div style="font-family: 'Montserrat', sans-serif">

<div class="row">
<div class="col-sm-12 text-center">
<h1 style="margin-top: 0px">DanceDeets</h1>
<h4>Street dance events near you.</h4>
<h4>With over {{ total_events }} events worldwide,</h4>
<h4>it's time to get your dance on.</h4>
</div>
</div>

<div class="row">
<div class="col-sm-7 text-center" style="margin-bottom: 1em">

<div class="install-div text-center">
{% if mobile_platform == mobile.MOBILE_IOS %}
<a class="btn btn-primary btn-lg" href="{{ mobile.IOS_URL }}">Download App</a>
{% elif mobile_platform == mobile.MOBILE_ANDROID %}
<a class="btn btn-primary btn-lg" href="{{ mobile.ANDROID_URL }}">Download App</a>
{% else %}
<a href="{{ mobile.IOS_URL }}"><img src="/images/app_store_download.png" class="store-button"></a>
<a href="{{ mobile.ANDROID_URL }}"><img src="/images/play_store_download.png" class="store-button"></a>
{% endif %}
</div>



{% if mobile_platform != mobile.MOBILE_IOS and mobile_platform != mobile.MOBILE_ANDROID %}
<div class="install-div">
Or enter your phone number to get an install link:
<form class="form-inline" method="post" action="/mobile_apps">
<input type="hidden" name="action" value="send_sms" />
<div class="form-group">
<select name="prefix" class="form-control" style="width:100px; display:inline-block">
<option value="">Country</option>
{% for country, code in country_codes %}
	<option value="{{ code }}"
	{% if code == prefix %}
		selected
	{% endif %}
	>{{ country }} (+{{ code }})</option>
{% endfor %}
</select>
<input type="text" class="form-control sms-textbox" name="phone" placeholder="(123) 456-7890" value="{{ phone }}" size="15"/>
<button type="submit" value="submit" class="btn btn-primary sms-button">Send link to my phone</button>
</form>
</div>
</div>
{% endif %}
</div>

<div class="col-sm-5">
<div class="center-block" style="width: 80%">
<img src="/images/phones.jpg" width="100%">
</div>
</div>

</div>

<div class="row">
<div class="col-sm-4">
<h3 class="text-center"><a href="/events/relevant?location={{ip_location}}" style="color: black"><i class="fa fa-search"></i> Find your Scene</a></h3>
Find street dance events near you: Never miss another jam or workshop!
</div>

<div class="col-sm-4">
<h3 class="text-center"><i class="fa fa-globe"></i> Dance Trips</h3>
Across the globe, or across the country: Find a spot to dance, and get re-inspired!
</div>

<div class="col-sm-4">
<h3 class="text-center"><a href="/events_add" style="color: black"><i class="fa fa-users"></i> Promote Events</a></h3>
Promote your dance events to the local scene and the dance tourists.
Don't rely on FB network to promote: over 18,000 dancers hit DanceDeets every month!
</div>
</div>

<div class="row">
<div class="col-sm-12 text-center" style="margin-bottom: 1em">

<div class="install-div text-center">
It's time to get your dance on.
{% if mobile_platform == mobile.MOBILE_IOS %}
<a class="btn btn-primary btn-lg" href="{{ mobile.IOS_URL }}">Download App</a>
{% elif mobile_platform == mobile.MOBILE_ANDROID %}
<a class="btn btn-primary btn-lg" href="{{ mobile.ANDROID_URL }}">Download App</a>
{% endif %}
<br>
</div>

</div>
</div>

<div class="row">
<div class="col-xs-12">
<h2><i class="fa fa-music"></i> Street Dance Events</h2>
{% if ip_location %}
See <a href="/events/relevant?location={{ip_location}}">events near {{ip_location}}</a>,
{% else %}
See events near you,
{% endif %}
browse our {{ total_events }} events worldwide below, or <a href="/events_add">add your city's events</a> for others!
</div>
</div>

<div class="row">
<div class="col-sm-3">
<h4>Styles</h4>
<ul>
{% for style in styles %}
    <li><a href="/style/{{ style.url_name }}">{{ style.public_name }}</a></li>
{% endfor %}
</ul>
</div>

<div class="col-sm-3">
<h4>North America</h4>
<ul>
{% for city in us_cities %}
    {% if city %}
	   <li><a href="/?location={{ city|urlencode }}&amp;distance=50&amp;distance_units=miles">{{ city }}</a>
    {% else %}
       </ul><ul>
    {% endif %}
</li>
{% endfor %}
</ul>
</div>

<div class="col-sm-3">
<h4>Europe</h4>
<ul>
{% for city in eu_cities %}
<li><a href="/?location={{ city|urlencode }}&amp;distance=50&amp;distance_units=miles">{{ city }}</a></li>
{% endfor %}
</ul>
</div>

<div class="col-sm-3">
<h4>Rest of the World</h4>
<ul>
{% for location in other %}
<li><a href="/?location={{ location }}&amp;distance=50&amp;distance_units=miles">{{ location }}</a></li>
{% endfor %}
</ul>
</div>
</div>

</div>
{% endblock %}
