{% extends "_base.html" %}

{% block title %}
DanceDeets
{% endblock %}

{% block head_stylesheet %}
    <meta property="og:title" content="DanceDeets"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.dancedeets.com/"/>
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:description"
          content="Helping you get your dance on wherever you are, with dance events both near and far."/>
{% endblock %}

{% block body %}
<div class="container">

<div class="row">

<div class="col-sm-7" style="padding-right: 0px">
<h2>DanceDeets</h2>


<div class="install-div">
Street dance events, at home and worldwide!
<div class="spacing">
<a href="{{ android_url }}"><img src="/images/play_store_download.png" class="store-button"></a>
<br>
<a href="{{ ios_url }}"><img src="/images/app_store_download.png" class="store-button"></a>
</div>
</div>



<div class="install-div hidden-xs">
Or enter your phone number, and we'll send you a link to install:
<form class="spacing form-inline" method="post" action="/mobile_apps">
<input type="hidden" name="action" value="send_sms" />
<select name="prefix" class="form-control">
<option value="">Select a country below</option>
{% for country, code in country_codes %}
	<option value="{{ code }}"
	{% if code == prefix %}
		selected
	{% endif %}
	>{{ country }} (+{{ code }})</option>
{% endfor %}
</select>
<input type="text" class="form-control sms-textbox" name="phone" placeholder="(123) 456-7890" value="{{ phone }}"/>
<button type="submit" value="submit" class="btn btn-primary sms-button">Send link to my phone</button>
</form>
</div>

<div class="install-div">
Keep up with the latest dance events when you're on the go!
<ul class="feature-list spacing fa-ul">
<li><i class="fa-li fa fa-search fa-lg"></i>Search Worldwide</li>
<li><i class="fa-li fa fa-calendar fa-lg"></i>Add to Calendar</li>
<li><i class="fa-li fa fa-facebook-square fa-lg"></i>View on Facebook</li>
<li><i class="fa-li fa fa-map-marker fa-lg"></i>Get Directions</li>
<li><i class="fa-li fa fa-check fa-lg"></i>RSVP on Facebook</li>
<li><i class="fa-li fa fa-language fa-lg"></i>Translate Languages (Android Only)</li>
</ul>
</div>

</div>

<div class="col-sm-5">
<img src="/images/phones.jpg" width="100%">
</div>

</div>
</div>

<div class="container-fluid">


<div class="row">
<div class="col-md-12" style="margin-bottom: 10px">
Dance Deets is your home for streetdance events: locally and internationally.<br>
Wherever you are in the world, we’ll help you find a place to get your groove on.<br>
{% if total_events %}
Over {{ total_events }} events and growing daily!
{% endif %}
</div>
</div>

<div class="row">
<div class="col-md-5">
<span class="big-font">Discover the scene</span><br>
<a href="/rankings">
{{ total_events }} dance events around the world
</a>
</div>

<div class="col-md-5">
<span class="big-font">Promote the scene</span><br>
<a href="/rankings">
<!-- TODO(lambert): someday switch this to /events_add ? -->
dance events reach 18,000+ dancers every month
</a>
</div>
</div>

<div class="row">
<div class="col-md-5">
See events in the top north-american cities:
<ul>
{% for internal_city, city in top_cities %}
	<li><a href="/?location={{ internal_city|urlencode }}&amp;distance=50&amp;distance_units=miles">{{ city }}</a></li>
{% endfor %}
</ul>
</div>

<div class="col-md-5">
See many more events for these european countries:
<ul>
{% for location in top_european_countries %}
<li><a href="/?location={{ location|urlencode }}&amp;distance=50&amp;distance_units=miles">{{ location }}</a></li>
{% endfor %}
</ul>
<p>See many more events for these continents:</p>
<ul>
{% for location in top_continents %}
<li><a href="/?location={{ location }}&amp;distance=50&amp;distance_units=miles">{{ location }}</a></li>
{% endfor %}
</ul>
</div>
</div>

</div>
{% endblock %}
