{% extends class_base_template %}

{% block title %}
DanceDeets - Mobile Apps
{% endblock %}

{% block head_stylesheet %}
    <meta property="og:title" content="DanceDeets"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.dancedeets.com/"/>
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:description"
          content="Every street dance event. On the web, on your phone. At home, and when traveling."/>

<style type="text/css">
.spacing {
	margin-top: 8px;
}
.feature {
    list-style-type: none;
}

{{ walkout_animation }}

</style>
{% endblock %}

{% block body %}
{# not using container-fluid, but container, so things are more centered #}
<div class="container">

<div class="row">

<div class="col-sm-7" style="padding-right: 0px">
<h2>DanceDeets Mobile Apps</h2>


<div class="install-div clearfix">
<div style="float:left">
Get the app now:
<div class="spacing">
<a href="{{ android_url }}"><img src="/images/play_store_download.png" class="store-button"></a>
<br>
<a href="{{ ios_url }}"><img src="/images/app_store_download.png" class="store-button"></a>
</div>
</div>

<!--set height so the relative penguin the vertical squeezing when bouncing doesn't change the height.
    set width so that when the penguin is hidden offscreen, float behavior remains the same.-->
<div style="float: left; height: 140px; width: 140px;">
<img id="penguin" src="/images/full_penguin_280.png" height="140" onmouseover="walkOut();">
</div>
</div>

<div class="install-div">
Or enter your phone number, and we'll send you a link to install:
<form class="spacing form-inline" method="post" action="/mobile_apps" accept-charset="UTF-8">
<input type="hidden" name="action" value="send_sms" />
<select name="prefix" class="form-control">
<option value="">Select a country below</option>
{% for country, code in country_codes %}
	<option value="{{ code }}"
	{% if code == prefix %}
		selected
	{% endif %}
	>{{ country }} (+{{ code }})</option>
{% endfor %}
</select>
<input type="text" class="form-control sms-textbox" name="phone" placeholder="(123) 456-7890" value="{{ phone }}"/>
<button type="submit" value="submit" class="btn btn-primary sms-button">Send link to my phone</button>
</form>
</div>

<div class="install-div">
Keep up with the latest dance events when you're on the go!
<ul class="feature-list spacing fa-ul">
<li><i class="fa-li fa fa-search fa-lg"></i>Search Worldwide</li>
<li><i class="fa-li fa fa-calendar fa-lg"></i>Add to Calendar</li>
<li><i class="fa-li fa fa-facebook-square fa-lg"></i>View on Facebook</li>
<li><i class="fa-li fa fa-map-marker fa-lg"></i>Get Directions</li>
<li><i class="fa-li fa fa-check fa-lg"></i>RSVP on Facebook</li>
<li><i class="fa-li fa fa-language fa-lg"></i>Translate Languages (Android Only)</li>
</ul>
</div>

</div>

<div class="col-sm-5">
<img src="/images/phones.jpg" width="100%">
</div>

</div>
</div>
{% endblock %}

{% block bottom_javascript %}
<script type="text/javascript">
function walkOut() {
	$('#penguin').css('webkitAnimation', 'bounce 0.5s infinite 0s, walkOut {{ total_time }}s');
	$('#penguin').css('animation', 'bounce 0.5s infinite 0s, walkOut {{ total_time }}s');
	$('#penguin').bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd", function(){
		$('#penguin').hide();
	});

}
</script>
{% endblock %}
