<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Header v6 Semi Dark Transparent | Unify - Responsive Website Template</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-v6.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <style type="text/css">
        .dropdown-submenu.last-menu > .dropdown-menu {
          left: -100% !important;
        }
    </style>
</head>

<body class="header-fixed">

<div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-dark-transparent header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="/">
                            <span class="dancedeets-logo"
                            ><img class="default-logo" src="assets/img/deets-head-and-title-on-black.png" alt="DanceDeets"
                            ><img class="shrink-logo" src="assets/img/deets-head-and-title-on-black.png" alt="DanceDeets"
                            ></span>
                        </a>
                    </div>
                    <!-- ENd Navbar Brand -->

                    <!-- Header Inner Right -->
                    <div class="header-inner-right">
                    </div>
                    <!-- End Header Inner Right -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Dance Events
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">US/Canada/Mexico</a>
                                        <ul class="dropdown-menu">
                                        {% for city in us_cities %}
                                            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">Europe</a>
                                        <ul class="dropdown-menu">
                                        {% for city in eu_cities %}
                                            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">World</a>
                                        <ul class="dropdown-menu">
                                        {% for city in other %}
                                            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Dance Styles
                                </a>
                                <ul class="dropdown-menu">
                                {% for style in styles %}
                                    <li><a href="/style/{{ style.url_name }}">{{ style.public_name }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Dance Classes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_invoice.html">Los Angeles</a></li>
                                    <li><a href="page_clients.html">New York</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="/events_add">
                                    Add Event
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!-- Interactive Slider v2 -->
    <!--TODO: maybe fullscreen is too large, and we just want a horizontal slice-->
    <div class="fullscreen-static-image fullheight bg-color-darker">
    <div style="background: rgba(41, 35, 0, 0.5);width: 100%;height: 100%">
        <div class="container valign__middle text-center">
            <span class="dancedeets-tagline color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="0.0s">
                STREET DANCE EVENTS.
            </span>
            <span class="dancedeets-tagline color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="1.0s">
            WORLDWIDE.
            </span>
            <div style="margin-bottom: 200px" class="dancedeets-tagline-small color-light animated fadeInDown wow" data-wow-duration="1.0s" data-wow-delay="2.0s">
                Get up offa that thing, and dance 'til you feel better – James Brown
            </div>
            <div class="col-md-6 col-md-offset-3 animated fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="2.0s">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter a city or country">
                    <span class="input-group-btn">
                        <button class="btn-u" type="button"><i class="fa fa-search"></i> FIND EVENTS</button>
                    </span>
                </div>
                <div style="padding: 0.5em">
                    OR TRACK EVENTS FROM YOUR PHONE
                </div>
                <button class="btn-u" type="button"><i class="fa fa-mobile"></i> DOWNLOAD DANCEDEETS</button>
            </div>
        </div>
    </div>
    </div>
    <!-- End Interactive Slider v2 -->


    <!--=== Content Part ===-->
    <div class="content-md">
      <div class="container">
          <!-- Service Box -->
          <!--TODO: some sort of effect for our characters-->
          <div class="row text-center margin-bottom-60">
              <div class="col-md-4 md-margin-bottom-50">
                  <img alt="" src="assets/img/deets-dancing.png" class="deets-activity-image margin-bottom-20">
                  <h1 class="title-v3-md margin-bottom-10">Learning to dance?</h1>
                  <p>Want to go beyond the classroom?<br/>
                  Find all the battles, shows,<br/>
                  workshops, and more!</p>
              </div>
              <div class="col-md-4 flat-service md-margin-bottom-50">
                  <img alt="" src="assets/img/deets-traveling.png" class="deets-activity-image margin-bottom-20">
                  <h2 class="title-v3-md margin-bottom-10">Going on a trip?</h2>
                  <p>Want to meet other dancers?<br/>
                  Quickly ﬁnd the scene anywhere,<br/>
                  and start building bridges!</p>
              </div>
              <div class="col-md-4 flat-service">
                  <img alt="" src="assets/img/deets-flyering.png" class="deets-activity-image margin-bottom-20">
                  <h2 class="title-v3-md margin-bottom-10">Promoting events?</h2>
                  <p>With over 17,000 dancers monthly,<br/>
                  and 80,000 dance events,<br/>
                  get your event listed for free!</p>
              </div>
          </div>
          <!-- End Service Box -->
      </div><!--/container -->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo3-light.png" alt=""></a>
                        <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                        <p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                            <div class="headline"><h2>Latest Posts</h2></div>
                            <ul class="list-unstyled latest-list">
                                <li>
                                    <a href="#">Incredible content</a>
                                    <small>May 8, 2014</small>
                                </li>
                                <li>
                                    <a href="#">Best shoots</a>
                                    <small>June 23, 2014</small>
                                </li>
                                <li>
                                    <a href="#">New Terms and Conditions</a>
                                    <small>September 15, 2014</small>
                                </li>
                            </ul>
                        </div>
                    </div><!--/col-md-3-->
                    <!-- End Latest -->

                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            25, Lorem Lis Street, Orange <br />
                            California, US <br />
                            Phone: 800 123 3456 <br />
                            Fax: 800 123 3456 <br />
                            Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2015 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/jquery/jquery-migrate.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
<script type="text/javascript" src="assets/plugins/jquery.parallax.js"></script>
<script type="text/javascript" src="assets/plugins/backstretch/backstretch-ini.js"></script>
<script type="text/javascript" src="assets/plugins/wow-animations/js/wow.min.js"></script>
<!-- JS Customization -->
<script type="text/javascript" src="assets/js/custom.js"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/plugins/style-switcher.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        new WOW().init();
        StyleSwitcher.initStyleSwitcher();
    });
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>
