{% extends class_base_template %}

{% block title %}
  DanceDeets: Street Dance Events. Worldwide.
{% endblock %}

{% block head_metatags %}
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ result_title }}" />
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:description"
          content="Every street dance event. On the web, on your phone. At home, and when traveling."/>
{% endblock %}
</head>

{% block body %}
<style type="text/css">
{# By default, the page is pushed down below the header.
 # But in the case of our homepage with a fullstretch image,
 # we want it to slide under the header as appropriate,
 # so that 100vh is exactly one screen height.
 # We need to specify the body.class, so that CSS precedence works.
 #}
body.header-fixed-space {
  padding-top: 0px;
}
</style>
    <!-- Interactive Slider v2 -->
    <!--TODO: maybe fullscreen is too large, and we just want a horizontal slice-->
    <div class="flush-top fullscreen-static-image bg-color-darker">
        <div class="fullscreen-darken-image">
            <div class="container text-center vertical-center">
                <div class="dancedeets-tagline color-light margin-bottom-30">
                    Street Dance Events. Worldwide.
                </div>
                <div class="col-md-6 col-md-offset-3 margin-bottom-30">
                    <form action="/" class="margin-bottom-20">
                        <div class="input-group">
                            <input name="location" type="text" class="form-control" placeholder="Enter a city or country" value="{{ ip_location }}">
                            <span class="input-group-btn">
                                <button class="btn btn-cta" type="button"><i class="fa fa-search"></i> Find Events</button>
                            </span>
                        </div>
                    </form>
                    <div class="color-light margin-bottom-20">
                        or track events from your phone
                    </div>
                    {% if mobile_platform != mobile.MOBILE_ANDROID %}
                    <a href="{{ mobile.IOS_URL }}"><img src="/images/app_store_download.png" class="store-button"></a>
                    {% endif %}
                    {% if mobile_platform != mobile.MOBILE_IOS %}
                    <a href="{{ mobile.ANDROID_URL }}"><img src="/images/play_store_download.png" class="store-button"></a>
                    {% endif %}
                </div>
                <div class="dancedeets-tagline-small color-light">
                    Get up offa that thing, and dance 'til you feel better – James Brown
                </div>
            </div>
        <div style="position: absolute; bottom: 0; right: 0; color: white">
            Photo Credits: <a href="https://www.facebook.com/mario.lobo.90">Mario Lobo</a> and <a href="http://dangitslim.com/">Slim</a>.
        </div>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->


    <!--=== Content Part ===-->
    <div class="content-md">
        <div class="container">
            <!-- Service Box -->
            <!--TODO: some sort of effect for our characters-->
            <div class="row text-center">
                <div class="col-md-4 md-margin-bottom-50">
                    <a href="javscript:void(0);" class="animate-on-hover" data-action="flip">
                        <img alt=""
                        srcset="
/dist-{{version}}/img/deets-activity-dancing.png 1x,
/dist-{{version}}/img/deets-activity-dancing.svg 2x"
                        src="/dist-{{version}}/img/deets-activity-dancing.png"
                        class="deets-activity-image margin-bottom-20">
                    </a>
                    <h2 class="title-v3-md margin-bottom-10">Learning to dance?</h2>
                    <p>Want to go beyond the classroom?<br/>
                    Find all the battles, shows,<br/>
                    parties, workshops, and more!</p>
                </div>
                <div class="col-md-4 md-margin-bottom-50">
                    <a href="javscript:void(0);" class="animate-on-hover" data-action="flip">
                        <img alt=""
                        srcset="
/dist-{{version}}/img/deets-activity-traveling.png 1x,
/dist-{{version}}/img/deets-activity-traveling.svg 2x"
                        src="/dist-{{version}}/img/deets-activity-traveling.png"
                        class="deets-activity-image margin-bottom-20"
                        >
                    </a>
                    <h2 class="title-v3-md margin-bottom-10">Going on a trip?</h2>
                    <p>Want to meet other dancers?<br/>
                    Quickly ﬁnd the dance scene anywhere,<br/>
                    and start connecting in real-life!</p>
                </div>
                <div class="col-md-4">
                    <a href="javscript:void(0);" class="animate-on-hover" data-action="flip">
                        <img alt=""
                        srcset="
/dist-{{version}}/img/deets-activity-flyering.png 1x,
/dist-{{version}}/img/deets-activity-flyering.svg 2x"
                        src="/dist-{{version}}/img/deets-activity-flyering.png"
                        class="deets-activity-image margin-bottom-20"
                        >
                    </a>
                    <h2 class="title-v3-md margin-bottom-10">Promoting events?</h2>
                    <p>With over 20,000 dancers monthly,<br/>
                    and 80,000 dance events since 2010,<br/>
                    it's the best source for street dance events.</p>
                </div>
            </div>
            <!-- End Service Box -->
        </div><!--/container -->
    </div>


    <!--=== Cube-Portfdlio ===-->
    <div class="container margin-bottom-60">
        <div class="headline">
            <h2>
                Popular Cities
            </h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/?location=NYC" class="zoom">
                            <div class="text-overlay">
                                New York
                            </div>
                            <img src="/dist-{{version}}/img/location-new-york.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/?location=Los+Angeles" class="zoom">
                            <div class="text-overlay">
                                Los Angeles
                            </div>
                            <img src="/dist-{{version}}/img/location-los-angeles.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/?location=Paris" class="zoom">
                            <div class="text-overlay">
                                Paris
                            </div>
                            <img src="/dist-{{version}}/img/location-paris.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9" style="text-align: right">
                <a href="/rankings">See more cities.</a>
            </div>
        </div>
    </div>

    <!--=== Cube-Portfdlio ===-->
    <div class="container margin-bottom-60">
        <div class="headline">
            <h2>
                Popular Styles
            </h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/style/breaking" class="zoom">
                            <div class="text-overlay">
                                Breaking
                            </div>
                            <img src="/dist-{{version}}/img/style-bboy.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/style/popping" class="zoom">
                            <div class="text-overlay">
                                Popping
                            </div>
                            <img src="/dist-{{version}}/img/style-popping.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="/style/hip-hop" class="zoom">
                            <div class="text-overlay">
                                Hip-Hop &amp;<br/>
                                Street-Jazz
                            </div>
                            <img src="/dist-{{version}}/img/style-hiphop.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div><!--/end Grid Container-->
        {#
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9" style="text-align: right">
                See more styles.
            </div>
        </div>
        #}
    </div>
    <!--=== End Cube-Portfdlio ===-->
{% endblock %}

{% block bottom_javascript %}
<script type="text/javascript">
mixpanel.track("Homepage");
</script>
{% endblock %}
