<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Header v6 Semi Dark Transparent | Unify - Responsive Website Template</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">


    <script>
        function loadJS(u){var r = document.getElementsByTagName( "script" )[ 0 ], s = document.createElement( "script" );s.src = u;r.parentNode.insertBefore( s, r );}

        if(!window.HTMLPictureElement){
            document.createElement('picture');
            loadJS("respimage.min.js");
        }
    </script>
    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="assets/css/headers/header-v6.css">
    <link rel="stylesheet" href="assets/css/footers/footer-v2.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="assets/plugins/animate.css">
    <link rel="stylesheet" href="assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">

    <style type="text/css">
        .dropdown-submenu.last-menu > .dropdown-menu {
          left: -100% !important;
        }
    </style>
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ result_title }}" /> 
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:description"
          content="Every street dance event. On the web, on your phone. At home, and when traveling."/>

</head>

<body class="header-fixed">

<div class="wrapper">
    <!--=== Header v6 ===-->
    <div class="header-v6 header-dark-transparent header-sticky">
        <!-- Navbar -->
        <div class="navbar mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="menu-container">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Navbar Brand -->
                    <div class="navbar-brand">
                        <a href="/">
                            <span class="dancedeets-logo"
                            ><img class="default-logo" src="assets/img/deets-head-and-title-on-black.png" alt="DanceDeets"
                            ><img class="shrink-logo" src="assets/img/deets-head-and-title-on-black.png" alt="DanceDeets"
                            ></span>
                        </a>
                    </div>
                    <!-- ENd Navbar Brand -->

                    <!-- Header Inner Right -->
                    <div class="header-inner-right">
                    </div>
                    <!-- End Header Inner Right -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <div class="menu-container">
                        <ul class="nav navbar-nav">

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Dance Events
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">US/Canada/Mexico</a>
                                        <ul class="dropdown-menu">
                                        {% for city in us_cities %}
                                            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">Europe</a>
                                        <ul class="dropdown-menu">
                                        {% for city in eu_cities %}
                                            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu">
                                        <a href="javascript:void(0);">World</a>
                                        <ul class="dropdown-menu">
                                        {% for city in other %}
                                            <li>{% if city %}<a href="/?location={{ city }}">{{ city }}</a>{% else %}&nbsp;{% endif %}</li>
                                        {% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Dance Styles
                                </a>
                                <ul class="dropdown-menu">
                                {% for style in styles %}
                                    <li><a href="/style/{{ style.url_name }}">{{ style.public_name }}</a></li>
                                {% endfor %}
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    Dance Classes
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="page_invoice.html">Los Angeles</a></li>
                                    <li><a href="page_clients.html">New York</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">
                                <a href="/events_add">
                                    Add Event
                                </a>
                            </li>
                        </ul>
                    </div>
                </div><!--/navbar-collapse-->
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header v6 ===-->

    <!-- Interactive Slider v2 -->
    <!--TODO: maybe fullscreen is too large, and we just want a horizontal slice-->
    <div class="fullscreen-static-image fullheight bg-color-darker">
        <div style="background: rgba(41, 35, 0, 0.5);width: 100%;height: 100%">
            <div class="container valign__middle text-center">
                <span class="dancedeets-tagline color-light margin-bottom-10">
                    Street Dance Events.
                </span>
                <span class="dancedeets-tagline color-light margin-bottom-10 animated fadeInUp wow" data-wow-duration="0.5s" data-wow-delay="0.5s">
                Worldwide.
                </span>
                <div style="margin-bottom: 200px" class="dancedeets-tagline-small color-light animated fadeInDown wow" data-wow-duration="1.0s" data-wow-delay="1.0s">
                    Get up offa that thing, and dance 'til you feel better – James Brown
                </div>
                <div class="col-md-6 col-md-offset-3 animated fadeInUp wow" data-wow-duration="1.0s" data-wow-delay="1.0s">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter a city or country">
                        <span class="input-group-btn">
                            <button class="btn-u" type="button"><i class="fa fa-search"></i> Find Events</button>
                        </span>
                    </div>
                    <div style="padding: 0.5em">
                        or track events from your phone
                    </div>
                    <button class="btn-u" type="button"><i class="fa fa-mobile"></i> Download DanceDeets</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Interactive Slider v2 -->


    <!--=== Content Part ===-->
    <div class="content-md">
        <div class="container">
            <!-- Service Box -->
            <!--TODO: some sort of effect for our characters-->
            <div class="row text-center">
                <div class="col-md-4 md-margin-bottom-50">
                    <a href="javscript:void(0);" class="animate-on-hover" data-action="flip">
                        <img alt="" 
                        srcset="
                            dist/img/deets-activity-dancing.png 1x,
                            dist/img/deets-activity-dancing.svg 2x"
                        src="dist/img/deets-activity-dancing.png"
                        class="deets-activity-image margin-bottom-20 animated fadeIn wow"
                        data-wow-duration="1.0s">
                    </a>
                    <h1 class="title-v3-md margin-bottom-10">Learning to dance?</h1>
                    <p>Want to go beyond the classroom?<br/>
                    Find all the battles, shows,<br/>
                    workshops, and more!</p>
                </div>
                <div class="col-md-4 flat-service md-margin-bottom-50">
                    <a href="javscript:void(0);" class="animate-on-hover" data-action="flip">
                        <img alt=""
                        srcset="
                            dist/img/deets-activity-traveling.png 1x,
                            dist/img/deets-activity-traveling.svg 2x"
                        src="dist/img/deets-activity-traveling.png"
                        class="deets-activity-image margin-bottom-20 animated fadeIn wow"
                        data-wow-duration="1.0s">
                    </a>
                    <h2 class="title-v3-md margin-bottom-10">Going on a trip?</h2>
                    <p>Want to meet other dancers?<br/>
                    Quickly ﬁnd the scene anywhere,<br/>
                    and start building bridges!</p>
                </div>
                <div class="col-md-4 flat-service">
                    <a href="javscript:void(0);" class="animate-on-hover" data-action="flip">
                        <img alt=""
                        srcset="
                            dist/img/deets-activity-flyering.png 1x,
                            dist/img/deets-activity-flyering.svg 2x"
                        src="dist/img/deets-activity-flyering.png"
                        class="deets-activity-image margin-bottom-20 animated fadeIn wow"
                        data-wow-duration="1.0s">
                    </a>
                    <h2 class="title-v3-md margin-bottom-10">Promoting events?</h2>
                    <p>With over 17,000 dancers monthly,<br/>
                    and 80,000 dance events,<br/>
                    get your event listed for free!</p>
                </div>
            </div>
            <!-- End Service Box -->
        </div><!--/container -->
    </div>


    <!--=== Cube-Portfdlio ===-->
    <div class="container margin-bottom-60">
        <h2>
            Popular Cities
        </h2>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" class="zoom">
                            <div class="text-overlay">
                                New York
                            </div>
                            <img src="dist/img/location-new-york.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" class="zoom">
                            <div class="text-overlay">
                                Los Angeles
                            </div>
                            <img src="dist/img/location-los-angeles.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" class="zoom">
                            <div class="text-overlay">
                                Paris
                            </div>
                            <img src="dist/img/location-paris.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9" style="text-align: right">
                See more cities.
            </div>
        </div>
    </div>

    <!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio container margin-bottom-60">
        <h2>
            Popular Styles
        </h2>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" class="zoom">
                            <div class="text-overlay">
                                Breaking
                            </div>
                            <img src="dist/img/style-bboy.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" class="zoom">
                            <div class="text-overlay">
                                Popping
                            </div>
                            <img src="dist/img/style-popping.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <a href="" class="zoom">
                            <div class="text-overlay">
                                Hip-Hop &amp;<br/>
                                Street-Jazz
                            </div>
                            <img src="dist/img/style-hiphop.jpg" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div><!--/end Grid Container-->
        <div class="row">
            <div class="col-sm-3 col-sm-offset-9" style="text-align: right">
                See more styles.
            </div>
        </div>
    </div>
    <!--=== End Cube-Portfdlio ===-->

    <!--=== Footer v2 ===-->
    <div id="footer-v2" class="footer-v2">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <a href="index.html"><img style="height: 50px" id="logo-footer" class="footer-logo" src="assets/img/deets-head-and-title-on-black.png" alt=""></a>
                        <p class="margin-bottom-20">DanceDeets is <i>the</i> source for street dance events worldwide.</p>
                        <div class="fb-like" data-href="https://www.facebook.com/dancedeets" data-layout="standard" data-width="280" data-action="like" data-show-faces="true" data-share="true"></div>
                    </div>
                    <!-- End About -->

                    <!-- Link List -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Useful Links</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="/about">About</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/rankings">Rankings</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/help">Help</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/feedback">Contact</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="/privacy">Privacy</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <!-- End Link List -->

                    <!-- Address -->
                    <div class="col-md-4 md-margin-bottom-40">
                        <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                        <address class="md-margin-bottom-40">
                            <i class="fa fa-globe"></i>Website: <a href="#">www.dancedeets.com</a> <br />
                            <i class="fa fa-envelope"></i>Email: <a href="mailto:info@dancedeets.com">info@dancedeets.com</a><br />
                            <i class="fa fa-home"></i>Or find us in the clubs of New York<br />
                        </address>

                        <!-- Social Links -->
                        <ul class="social-icons">
                            <li><a href="https://www.facebook.com/dancedeets" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
                            <li><a href="https://www.twitter.com/dancedeets" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
                            <li><a href="https://plus.google.com/+dancedeets" data-original-title="Goole Plus" class="rounded-x social_googleplus"></a></li>
                            <li><a href="https://www.instagram.com/dancedeets" data-original-title="Linkedin" class="rounded-x social_instagram"></a></li>
                        </ul>
                        <!-- End Social Links -->
                    </div>
                    <!-- End Address -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <p class="text-center">
                    2015 &copy; DanceDeets. All Rights Reserved.<br/>
                    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                </p>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer v2 ===-->

</div><!--/wrapper-->
<div id="fb-root"></div>

<script type="text/javascript" src="assets/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/plugins/wow-animations/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        new WOW().init();

        // background-image rotation
        $.getScript("assets/plugins/backstretch/jquery.backstretch.min.js", function(){
            $(".fullscreen-static-image").backstretch([
                "assets/img/header-boty.jpg",
                "assets/img/header-bay-choreo.jpg",
            ], {duration: 4000, fade: 800});
        });

        // animate-on-hover
        $(".animate-on-hover").hover(function(){
            $(this).addClass('animated ' + $(this).data('action'));
        });
        $(".animate-on-hover").bind("animationend webkitAnimationEnd oAnimationEnd MSAnimationEnd",function(){
            $(this).removeClass('animated ' + $(this).data('action'));
        });
    });

// Facebook/Login Code
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=10153028226269085";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<!--[if lt IE 9]>
    <script src="assets/plugins/respond.js"></script>
    <script src="assets/plugins/html5shiv.js"></script>
    <script src="assets/plugins/placeholder-IE-fixes.js"></script>
<![endif]-->

</body>
</html>
