{% extends "_base.html" %}

{% block title %}
{{ result_title }}
{% endblock %}

{% block head_stylesheet %}
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ result_title }}" /> 
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:description"
          content="Every street dance event. On the web, on your phone. At home, and when traveling."/>
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
{% endblock %}

{% block body %}

<div class="row">
<div class="col-md-9">
<b>NYC Street Dance Classes</b>

<div id="app"></div>

</div>{# col-md-9 #}

<div class="col-md-3">
  <button class="btn btn-primary" onclick="share(); return true;"><i class="fa fa-user-plus fa-lg"></i> Share on Facebook</button>
  <div class="fb-like" data-href="https://www.facebook.com/dancedeets" data-layout="standard" data-width="190" data-action="like" data-show-faces="true" style="margin: 10px 0;"></div>
  <p>
</div>

</div> {# row #}
{% endblock %}

{% block bottom_javascript %}

<!-- if we ever want to add i18n, we can use http://cdnjs.com/libraries/moment.js/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

<script type="text/javascript">

function share() {
  FB.ui({
    method: 'share',
    href: 'https://www.dancedeets.com/',
  }, function(response){}); 
}

var classes = [];
{% for group in grouped_upcoming_results %}
  {% for result in group.results %}
    {% if not result.fb_event_id %}
    classes.push({
      'url': '{{result.source_page}}',
      'name': '{{result.name}}',
      'location': '{{result.actual_city_name}}',
      'start_time': moment('{{result.start_time_raw}}'),
      'end_time': moment('{{result.end_time_raw}}'),
      'categories': {{result.categories|safe}}, {# ideally tojson #}
      'sponsor': '{{result.sponsor}}',
      'key': '{{result}}',
    });
    {% endif %}
  {% endfor %}
{% endfor %}
/*
      {% if sponsored_studios['MINDBODY'] %}
        <div style="margin: 1em 0em; font-style: italic">
          Studios Powered by <a href="http://www.mindbodyonline.com">MINDBODY</a>:
          {{ sponsored_studios['MINDBODY']|join(', ') }}
        </div>
      {% endif %}
*/
</script>

<script type="text/babel">

var PopupMenu = React.createClass({
  render: function() {
    var options = [];
    this.props.list.forEach(function(item) {
      options.push(
        <option value={item}>{item}</option>
      );
    });
    return (
      <span>
      <select multiple={true}>
      {options}
      </select>
      </span>
    );
  }
});

var DayNavMenu = React.createClass({
  render: function() {
    return (
      <span>Mon | Tue | Wed | Thu | Fri | Sat | Sun</span>
    );
  }
});


var SearchBar = React.createClass({
  render: function() {
    return (
      <form>
        Styles: <PopupMenu list={['hiphop', 'house', 'popping', 'locking']} />
        <br />
        Studios: <PopupMenu list={['expg', 'bdc', 'peri']} />
        <br />
        Teacher: <input type="text" />
      </form>
    );
  }
});

var StudioClass = React.createClass({
  render: function() {
    return (
      <div>
        <a href="{this.props.studio_class.url}">
        {this.props.studio_class.location}: {this.props.studio_class.name}
        </a>
      </div>
    );
  }
});

var DayHeader = React.createClass({
  render: function() {
    return (
      <div>
        <h4>{this.props.date.format("ddd MMM D")}</h4>
      </div>
    );
  }
});

var TimeHeader = React.createClass({
  render: function() {
    return (
      <div>
        <b>{this.props.datetime.format("h:mma")}</b>
      </div>
    );
  }
});

var StudioClasses = React.createClass({
  render: function() {
    var rows = [];
    var last_studio_class = null;
    this.props.classes.forEach(function(studio_class) {
      if (last_studio_class == null || studio_class.start_time.format("YYYY-MM-DD") != last_studio_class.start_time.format("YYYY-MM-DD")) {
        rows.push(<DayHeader date={studio_class.start_time} key={studio_class.start_time.format("YYYY-MM-DD")} />);
      }
      if (last_studio_class == null || studio_class.start_time.format("HH:mm") != last_studio_class.start_time.format("HH:mm")) {
        rows.push(<TimeHeader datetime={studio_class.start_time} key={studio_class.start_time.format("YYYY-MM-DDTHH:mm")} />);
      }
      rows.push(<StudioClass studio_class={studio_class} key={studio_class.key} />);
      last_studio_class = studio_class;
    });
    return <div>{rows}</div>;
  }
});

var App = React.createClass({
  render: function() {
    return (
      <div>
        <SearchBar />
        <DayNavMenu />
        <StudioClasses classes={this.props.classes} />
      </div>
    )
  }
});

ReactDOM.render(
  <App classes={classes}/>,
  document.getElementById('app')
);


</script>
{% endblock %}