{% extends "_base.html" %}

{% block title %}
{{ result_title }}
{% endblock %}

{% block head_stylesheet %}
    <meta property="og:image" content="http://www.dancedeets.com/images/deet-city.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ result_title }}" /> 
    <meta property="og:site_name" content="DanceDeets"/>
    <meta property="og:description"
          content="Every street dance event. On the web, on your phone. At home, and when traveling."/>
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
{% endblock %}

{% block body %}

<div class="row">
<div class="col-md-9">

<div id="app"></div>

</div>{# col-md-9 #}

<div class="col-md-3">
  <button class="btn btn-primary" onclick="share(); return true;"><i class="fa fa-user-plus fa-lg"></i> Share on Facebook</button>
  <div class="fb-like" data-href="https://www.facebook.com/dancedeets" data-layout="standard" data-width="190" data-action="like" data-show-faces="true" style="margin: 10px 0;"></div>
  <p>
</div>

</div> {# row #}
{% endblock %}

{% block bottom_javascript %}

<!-- if we ever want to add i18n, we can use http://cdnjs.com/libraries/moment.js/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>

<script type="text/javascript">

function share() {
  FB.ui({
    method: 'share',
    href: 'https://www.dancedeets.com/',
  }, function(response){}); 
}

var classes = [];
{% for group in grouped_upcoming_results %}
  {% for result in group.results %}
    {% if not result.fb_event_id %}
    classes.push({
      'url': '{{result.source_page|escapejs}}',
      'name': '{{result.name|escapejs}}',
      'location': '{{result.actual_city_name|escapejs}}',
      'start_time': moment('{{result.start_time_raw}}'),
      'end_time': moment('{{result.end_time_raw}}'),
      'categories': {{result.extended_categories()|safe}}, {# ideally tojson #}
      'sponsor': '{{result.sponsor|escapejs}}',
      'key': '{{result|escapejs}}',
    });
    {% endif %}
  {% endfor %}
{% endfor %}
/*
      {% if sponsored_studios['MINDBODY'] %}
        <div style="margin: 1em 0em; font-style: italic">
          Studios Powered by <a href="http://www.mindbodyonline.com">MINDBODY</a>:
          {{ sponsored_studios['MINDBODY']|join(', ') }}
        </div>
      {% endif %}
*/

</script>

<script type="text/babel">

var SelectButton = React.createClass({
  toggleState: function() {
    this.manualToggleState();
    this.props.onChange();
  },
  manualToggleState: function() {
    var button = $(this.refs.button);
    button.toggleClass('active');
    button.blur();
  },
  isActive: function() {
    return $(this.refs.button).hasClass('active');
  },
  render: function() {
    return (
      <a href="#"
        className="btn btn-default btn-xs"
        ref="button"
        href="javascript:void(0);"
        onClick={this.toggleState}
        >
          {this.props.item}
        </a>
    );
  }
});

var MultiSelectList = React.createClass({
  getValues: function() {
    var values = [];
    var refs = this.refs;
    this.props.list.forEach(function(item, i) {
      if (refs['item'+i].isActive()) {
        values.push(item);
      }
    });
    return values;
  },
  setAll: function() {
    var values = [];
    var refs = this.refs;
    this.props.list.forEach(function(item, i) {
      if (refs['item'+i].isActive()) {
        refs['item'+i].manualToggleState();
      }
    });
    // Ensure we leave it active
    if (!this.refs['item-all'].isActive()) {
      this.refs['item-all'].manualToggleState();
    }
    this.props.onChange();
  },
  unsetAll: function() {
    if (this.refs['item-all'].isActive()) {
      this.refs['item-all'].manualToggleState();
    }

    var anySet = false;
    var refs = this.refs;
    this.props.list.forEach(function(item, i) {
      if (refs['item'+i].isActive()) {
        anySet = true;
      }
    });
    if (!anySet) {
      this.refs['item-all'].manualToggleState();
    }

    this.props.onChange();
  },
  render: function() {
    var options = [];
    var onChange = this.props.onChange;
    options.push(
      <SelectButton key="All" item="All" ref={'item-all'} onChange={this.setAll} />
    );
    var unsetAll = this.unsetAll;
    this.props.list.forEach(function(item, i) {
      options.push(
        <SelectButton key={item} item={item} ref={'item'+i} onChange={unsetAll} />
      );
    });
    return (
      <div className="btn-group" role="group">
      {options}
      </div>
    );
  }
});

var StyleList = React.createClass({
  getValues : function() {
    var values = [];
    Array.prototype.push.apply(values, this.refs.list1.getValues());
    Array.prototype.push.apply(values, this.refs.list2.getValues());
    return values;
  },
  render: function() {
    var options = [];
    var onChange = this.props.onChange;
    var hiphop = [];
    var other = [];
    this.props.list.forEach(function(item, i) {
      if (item == 'Hip-Hop' || item == 'Street-Jazz' || item == 'Jazz-Funk') {
        hiphop.push(item);
      } else {
        other.push(item);
      }
    });
    return (
      <div>
        <div>
          Hiphop/UrbanChoreo: <MultiSelectList
            list={hiphop}
            ref="list1"
            onChange={this.props.onChange}
            />
          </div>
        <div>
          Other Styles: <MultiSelectList
            list={other}
            ref="list2"
            onChange={this.props.onChange}
            />
        </div>
      </div>

    );
  }
})


//TODO: "All" should be selected at startup
//TODO: Should fix the All across two sub-categories
//TODO: Add DayNavMenu
var DayNavMenu = React.createClass({
  render: function() {
    return (
      <span>Mon | Tue | Wed | Thu | Fri | Sat | Sun</span>
    );
  }
});


var SearchBar = React.createClass({
  onChange: function() {
    this.props.onUserInput(
        this.refs.styles.getValues(),
        this.refs.studios.getValues(),
        this.refs.teacher.value
    );
  },
  render: function() {
    return (
      <form>
        <div>
          <StyleList
            list={this.props.initial_styles}
            ref="styles"
            onChange={this.onChange}
          />
        </div>
        <div>
          Studios:
          <MultiSelectList
            list={this.props.initial_studios}
            ref="studios"
            onChange={this.onChange}
          />
        </div>
        <div>
          Teacher:
          <input
            type="text"
            value={this.props.teacher}
            ref="teacher"
            onChange={this.onChange}
            />
        </div>
      </form>
    );
  }
});

var StudioClass = React.createClass({
  render: function() {
    return (
      <div>
        <a href="{this.props.studio_class.url}">
        {this.props.studio_class.location}: {this.props.studio_class.name}
        </a>
      </div>
    );
  }
});

var DayHeader = React.createClass({
  render: function() {
    return (
      <div>
        <h4>{this.props.date.format("ddd MMM D")}</h4>
      </div>
    );
  }
});

var TimeHeader = React.createClass({
  render: function() {
    return (
      <div>
        <b>{this.props.datetime.format("h:mma")}</b>
      </div>
    );
  }
});

var ClassSummary = React.createClass({
  render: function() {
    var filteredClasses = this.props.filteredClasses();
    return (<div><b>Showing {filteredClasses.length} classes:</b></div>);
  }
});

var StudioClasses = React.createClass({
  render: function() {
    var rows = [];
    var last_studio_class = null;
    var props = this.props;
    var goodClasses = this.props.filteredClasses();
    goodClasses.forEach(function(studio_class) {
      // Section header rendering
      if (last_studio_class == null || studio_class.start_time.format("YYYY-MM-DD") != last_studio_class.start_time.format("YYYY-MM-DD")) {
        rows.push(<DayHeader date={studio_class.start_time} key={studio_class.start_time.format("YYYY-MM-DD")} />);
      }
      if (last_studio_class == null || studio_class.start_time.format("HH:mm") != last_studio_class.start_time.format("HH:mm")) {
        rows.push(<TimeHeader datetime={studio_class.start_time} key={studio_class.start_time.format("YYYY-MM-DDTHH:mm")} />);
      }
      // Class rendering
      rows.push(<StudioClass studio_class={studio_class} key={studio_class.key} />);
      last_studio_class = studio_class;
    });
    return <div>{rows}</div>;
  }
});

var App = React.createClass({
  filteredClasses: function() {
    var goodClasses = [];
    var props = this.state;
    this.props.classes.forEach(function(studio_class) {
      // Class filtering logic
      if (props.teacher) {
        if (studio_class.name.toLowerCase().indexOf(props.teacher.toLowerCase()) == -1) {
          return;
        }
      }
      if (props.studios.length) {
        if (props.studios.filter(function(studio) {
          return studio == studio_class.location;
        }).length == 0) {
          return;
        }
      }
      if (props.styles.length) {
        if (props.styles.filter(function(search_style) {
          var classHasStyle = studio_class.categories.filter(function(class_style) {
            return search_style == class_style;
          });
          return classHasStyle.length > 0;
        }).length == 0) {
          return;
        }
      }
      goodClasses.push(studio_class);
    });
    return goodClasses;
  },
  getInitialState: function() {
    return {
        styles: [],
        studios: [],
        teacher: ''
    };
  },
  handleUserInput: function(styles, studios, teacher) {
    this.setState({
      styles: styles,
      studios: studios,
      teacher: teacher
    });
  },
  componentDidUpdate: function() {
    // Now scroll back so the navbar is directly at the top of the screen
    // and all of the results start fresh, beneath it
    var normalAffixedTop = $('#navbar-container').offset().top;
    if ($(document).scrollTop() > normalAffixedTop) {
      window.scroll(0, normalAffixedTop);
    }
  },
  render: function() {
    return (
      <div>
        <div
          id="navbar-container"
          style={ {
            marginBottom: "1em"
            } }
          >
          <div
            id="navbar"
            style={ {
              backgroundColor: "white",
              paddingBottom: "0.5em",
              boxShadow: "0 5px 4px -4px black",
              } }
          >
            <b>NYC Street Dance Classes</b>
            <SearchBar
              initial_studios={this.props.studios}
              initial_styles={this.props.styles}
              styles={this.state.styles}
              studios={this.state.studios}
              teacher={this.state.teacher}
              onUserInput={this.handleUserInput}
            />
          </div>
        </div>
        <div>
          <ClassSummary
            filteredClasses={this.filteredClasses}
            />
          <StudioClasses
            classes={this.props.classes}
            styles={this.state.styles}
            studios={this.state.studios}
            teacher={this.state.teacher}
            filteredClasses={this.filteredClasses}
          />
        </div>
      </div>
    )
  }
});

var studios_set = {};
var styles_set = {};
classes.forEach(function(studio_class) {
  studios_set[studio_class.location] = true;
  studio_class.categories.forEach(function(category) {
    styles_set[category] = true;
  });
});
var studios = Object.keys(studios_set).sort();
var styles = Object.keys(styles_set).sort();

ReactDOM.render(
  <App
    classes={classes}
    studios={studios}
    styles={styles}
  />,
  document.getElementById('app')
);


$(function() {
    $('#navbar-container').height($("#navbar").height());

    $('#navbar').affix({
        offset: { top: $('#navbar').offset().top }
    });
});

</script>
<style type="text/css">
#navbar.affix {
  top: 0px;
}
</style>
{% endblock %}