{% extends class_base_template %}

{% block title %}
{{ topic_title }} Events
{% endblock %}

{% block head_stylesheet %}
<style type="text/css">
.event-item { width:  200px; }
</style>
{% endblock %}

{% block body %}
<div class="container">
<div class="row">

<div class="col-md-12">
<h2>{{ topic_title }} Events</h2>
{{ all_results|length }} events total:
</div>

<div class="col-md-6">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
	google.load("visualization", "1", {packages:["corechart"]});
	google.setOnLoadCallback(drawTimeChart);
	function drawTimeChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('date', 'Month');
		data.addColumn('number', 'Events');
		data.addRows([
{% for year, month_results in group_by_date %}
	{% for month, results in month_results %}
			[new Date({{ year }}, {{ month }}, 1), {{ results|length }}],
	{% endfor %}
{% endfor %}
		]);

		var options = {
			bar: { groupWidth: "95%" },
			legend: { position: "none" },
			vAxis: {baseline: 0, textPosition: 'none', gridlines: {color: 'white'} },
		};
		var chart = new google.visualization.ColumnChart(document.getElementById("monthly_events"));
		chart.draw(data, options);
	}
</script>
<div id="monthly_events" style="width: 100%; height: 300px"></div>
</div>
<!--
<div class="col-md-6">
<script type="text/javascript">
	google.load("visualization", "1", {packages:["geochart"]});
	google.setOnLoadCallback(drawGeoChart);
	function drawGeoChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Country');
		data.addColumn('number', 'Events');
		data.addRows([
{% for location, results in group_by_location %}
			['{{ location }}', {{ results|length }}],
{% endfor %}
		]);

		var options = {
			colorAxis: {colors: ['lightblue', 'blue']}
		}
		var chart = new google.visualization.GeoChart(document.getElementById("country_events"));
		chart.draw(data, options);
	}
</script>
<div id="country_events" style="width: 100%; height: 300px;"></div>
</div>
-->

<div class="col-md-6">
<script type="text/javascript">
	google.load("visualization", "1", {packages:["map"]});
	google.setOnLoadCallback(drawMapChart);
	function drawMapChart() {
		var data = new google.visualization.DataTable();
		data.addColumn('number', 'Lat');
		data.addColumn('number', 'Long');
		data.addColumn('string', 'Event');
		data.addRows([
{% for result in all_results %}
			[{{ result.latitude }}, {{ result.longitude }}, "{{ result.name|e }}"],
{% endfor %}
		]);

		var options = {
			showTip: true,
		}
		var chart = new google.visualization.Map(document.getElementById("location_events"));
		chart.draw(data, options);
	}
</script>
<div id="location_events" style="width: 100%; height: 300px;"></div>
</div>

</div>

<div class="row">
<div class="col-md-12">
<div id="event-container">

{% for result in all_results %}
	{# widths here are set to sum to 700px-50px = 650px #}
	<div class="event-item">
		<div class="event-image">
		<a href="{{ fb_event_url(result.event_id) }}">
{# preload first five images #}
{% if loop.index < 20 %}
			<img src="{{ result.image }}" width="180" border="0">
{% else %}
			<img class="lazy-wide" src="/images/placeholder.gif" data-original="{{ result.image }}" width="180" border="0">
			<noscript><img src="{{ result.image }}" width="180" border="0"></noscript>
{% endif %}
		</a>
		</div>
		<div class="event-description">
			<h3 class="event-title">
			<a href="{{ fb_event_url(result.event_id) }}">
			{{ result.name|e }}
			</a>
			</h3>
			<div class="event-date">
				{{ result.start_time|date_only_human_format }}
				{% if result.multi_day_event() and result.end_time %}
					<br>to {{ result.end_time|date_only_human_format }}
				{% endif %}
			</div>
			<div class="event-city">
				{% if result.location %}
					result.location,
				{% endif %}
				{{ result.actual_city_name }}
			</div>
		</div>
	</div>
{% endfor %}
</div> {# event-container #}
</div> {# col-md-12 #}
</div> {# row #}
</div> {# container #}
{% endblock %}



{% block bottom_javascript %}

<script src="//cdn.jsdelivr.net/jquery.lazyload/1.9.3/jquery.lazyload.min.js" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/masonry/3.1.5/masonry.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).ready(function() {

	$("img.lazy-narrow").show().lazyload({threshold : 500});
	$("img.lazy-wide").show().lazyload({threshold : 500});

	var container = $('#event-container');
	// initialize
	container.masonry({
	  columnWidth: 200,
	  itemSelector: '.event-item'
	});
});
</script>
</script>

{% endblock %}
