{% extends "_bigbox_base.html" %}

{% block title %}
Settings
{% endblock %}

{% block inner_body %}
<form action="/user/edit" method="post" accept-charset="UTF-8">
<p>
<p>Events near <input id="location_input" name=location value="{{ defaults.location or '' }}">
{# distance is defaults.distance #}
within <select name="distance">
{% for d in [10, 50, 100, 200, 500, 3000, 12000] %}
	<option value="{{ d }}" {% if defaults.distance|string == d|string %}selected{% endif %}>
	{% if d|string == 12000|string %}Everywhere{% else %}{{ d }} miles{% endif %}
	</option>
{% endfor %}
</select>
<input type=hidden name=distance_units value=miles>
with
{# min_attendees is fdefaults.min_attendees #}
<select name="min_attendees">
{% for m in [0, 10, 50, 100, 500] %}
	<option value="{{ m }}" {% if defaults.min_attendees|string == m|string %}selected{% endif %}>
	{{ m }}+ attendees
	</option>
{% endfor %}
</select>
<p>
	Weekly Email Updates:<br>
<ul class="inputs-list">
<li>
	<label>
	<input type=radio name=send_email value="true" id="send_email_yes"
{% if defaults.send_email %}
	checked
{% endif %}
	> Yes</label>
</li>
<li>
	<label>
	<input type=radio name=send_email value="false" id="send_email_no"
{% if not defaults.send_email %}
	checked
{% endif %}
	> No</label>
</ul>

<p><button class="btn btn-primary">Save Changes</button>
</form>
{% endblock %}


{% block bottom_javascript %}
<script type="text/javascript">
function initializeLocationAutocomplete() {
  var autocomplete = new google.maps.places.Autocomplete($('#location_input').get(0));
  autocomplete.setTypes(['(regions)'])
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyAvvrWfamjBD6LqCURkATAWEovAoBm1xNQ&amp;libraries=places&amp;callback=initializeLocationAutocomplete"></script>
{% endblock %}
